Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(advance): add META_TRIM_META constant and payload validation
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — META_TRIM_META constant and validation in Rust core
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): iteration 1 done — META_TRIM_META in Rust core; 6 bindings need propagation
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Export META_TRIM_META in Python binding
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): export META_TRIM_META in Python binding
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  crates/iscc-py/src/lib.rs
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS — META_TRIM_META exported in Python binding
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): iteration 2 done — META_TRIM_META in Python binding; 5 bindings still pending
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Export META_TRIM_META in Node.js, WASM, and C FFI bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): export META_TRIM_META in Node.js, WASM, and C FFI bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-ffi/src/lib.rs
  crates/iscc-ffi/tests/test_iscc.c
  crates/iscc-napi/__tests__/functions.test.mjs
  crates/iscc-napi/src/lib.rs
  crates/iscc-wasm/src/lib.rs
  crates/iscc-wasm/tests/unit.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — META_TRIM_META exported in Node.js, WASM, C FFI bindings
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  crates/iscc-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(update-state): iteration 3 done — META_TRIM_META in Node.js, WASM, C FFI; Java and Go still pending
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Export META_TRIM_META in Java and Go bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): export META_TRIM_META in Java and Go bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-jni/java/src/main/java/io/iscc/iscc_lib/IsccLib.java
  crates/iscc-jni/java/src/test/java/io/iscc/iscc_lib/IsccLibTest.java
  packages/go/codec.go
Due: none

cid(review): PASS — issue #18 fully complete, META_TRIM_META in all 6 bindings
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): iteration 4 done — META_TRIM_META in all 6 bindings; gen_sum_code_v0 next
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(update-state): iteration 5 start — no code changes since iteration 4; gen_sum_code_v0 still pending
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Implement gen_sum_code_v0 + SumCodeResult in Rust core
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): implement gen_sum_code_v0 + SumCodeResult in Rust core
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — gen_sum_code_v0 + SumCodeResult complete in Rust core (32/32 Tier 1)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): add iteration log entry for review completion
  .claude/context/iterations.jsonl
Due: none

cid(update-state): iteration 6 — gen_sum_code_v0 complete in Rust core; 6 bindings still need propagation
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(update-state): iteration 7 — no code changes; assessed-at hash updated to f2eeb6d
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add gen_sum_code_v0 to Python bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add gen_sum_code_v0 to Python bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  crates/iscc-py/src/lib.rs
  tests/test_smoke.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS — gen_sum_code_v0 Python binding verified clean
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  tests/test_smoke.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(update-state): iteration 8 — Python gen_sum_code_v0 complete; 5 bindings still pending
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(update-state): iteration 7 — Python bindings met (32/32); 5 bindings remain
  .claude/context/iterations.jsonl
Due: none

cid(define-next): Add gen_sum_code_v0 to Node.js bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add gen_sum_code_v0 to Node.js napi-rs bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-napi/__tests__/functions.test.mjs
  crates/iscc-napi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — gen_sum_code_v0 Node.js binding verified clean
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  crates/iscc-napi/__tests__/functions.test.mjs
Due: none

cid(review): PASS — gen_sum_code_v0 Node.js binding verified clean
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): iteration 8 — Node.js bindings met (32/32); 4 bindings remain
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(update-state): iteration 9 — re-verify Node.js met; WASM next
  .claude/context/state.md
Due: none

cid(define-next): Add gen_sum_code_v0 to WASM bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add gen_sum_code_v0 to WASM bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-wasm/src/lib.rs
  crates/iscc-wasm/tests/unit.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(advance): add gen_sum_code_v0 to WASM bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
Due: none

cid(review): PASS — gen_sum_code_v0 WASM binding verified clean
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none
