Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --all --
  language: system
  stages:
  - pre-commit

ruff-check:
  name: Ruff linting
  entry: uv run ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff formatting
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

taplo:
  name: TOML formatting
  entry: uv run taplo fmt
  language: system
  stages:
  - pre-commit

yamlfix:
  name: YAML formatting
  entry: uv run yamlfix
  language: system
  stages:
  - pre-commit

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: Rust tests
  entry: cargo test --workspace
  language: system
  stages:
  - pre-push
  pass_filenames: false

ty:
  name: Python type checking
  entry: uv run ty check
  language: system
  stages:
  - pre-push
  pass_filenames: false

security:
  name: Security scan (Ruff S rules)
  entry: uv run ruff check --select S --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

complexity:
  name: Complexity check (Ruff C901)
  entry: uv run ruff check --select C901 --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Python tests with coverage
  entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat(cid): add push-on-PASS protocol to review agent
  .claude/agents/review.md
Due: none

build(devcontainer): forward GH_TOKEN from host environment
  .devcontainer/devcontainer.json
Due: none

feat(cid): add quality gate integrity checks to review and advance agents
  .claude/agents/advance.md
  .claude/agents/review.md
Due: none

feat: add mise task runner with CID loop commands and README
  README.md
  mise.toml
Due: taplo

refactor: wire mise CID tasks through tools/cid.py orchestrator
  CLAUDE.md
  README.md
  mise.toml
Due: taplo

docs: add mise trust to bootstrap steps
  README.md
Due: none

build(devcontainer): automate bootstrap for CID-ready fresh start
  .devcontainer/devcontainer.json
  .gitattributes
  README.md
  pyproject.toml
  uv.lock
Due: taplo

chore: gitignore Claude Code ephemeral plan files
  .gitignore
Due: none

chore: normalize line endings to LF via gitattributes
  .claude/context/target.md
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/run-agent.sh
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  notes/00-overview.md
  notes/01-workspace-structure.md
  notes/02-language-bindings.md
  notes/03-async-and-streaming.md
  notes/04-api-compatibility-safety.md
  notes/05-developer-tooling.md
  notes/06-build-cicd-publishing.md
  notes/07-security-versioning.md
  notes/08-references.md
  notes/09-performance-benchmarks.md
  tools/cid.py
Due: ruff-check, ruff-format, yamlfix, ty, security, complexity, pytest

fix(devcontainer): ensure volume mount-points are owned by dev user
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

cid(update-state): tooling bootstrap complete, Rust workspace not yet started
  .claude/context/state.md
Due: none

cid(define-next): bootstrap Rust workspace with core crate skeleton
  .claude/context/next.md
Due: none

cid(advance): bootstrap Rust workspace with core crate skeleton
  .claude/context/handoff.md
  Cargo.toml
  crates/iscc-lib/Cargo.toml
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): pass — workspace bootstrap is clean, all 9 stubs verified
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

chore: track Cargo.lock for reproducible workspace builds
  Cargo.lock
Due: none

build(devcontainer): disable GPG commit signing in container
  .devcontainer/devcontainer.json
Due: none

style: apply auto-formatting fixes from pre-commit hooks
  .claude/agents/advance.md
  .claude/agents/define-next.md
  .claude/agents/review.md
  .claude/agents/update-state.md
  .claude/context/target.md
  .gitignore
  CLAUDE.md
  README.md
  notes/00-overview.md
  notes/01-workspace-structure.md
  notes/02-language-bindings.md
  notes/03-async-and-streaming.md
  notes/04-api-compatibility-safety.md
  notes/05-developer-tooling.md
  notes/06-build-cicd-publishing.md
  notes/07-security-versioning.md
  notes/08-references.md
  notes/09-performance-benchmarks.md
Due: none

build(devcontainer): fix git credential helper for container environment
  .devcontainer/devcontainer.json
  .devcontainer/setup-gitconfig.sh
Due: none

chore: upgrade define-next and update-state agents to opus model
  .claude/agents/define-next.md
  .claude/agents/update-state.md
Due: none

fix: resolve pre-push hook failures for initial push
  .pre-commit-config.yaml
  notes/09-performance-benchmarks.md
  pyproject.toml
  tests/__init__.py
  tests/test_smoke.py
  tools/cid.py
Due: ruff-check, ruff-format, taplo, yamlfix, ty, security, complexity, pytest

build: enforce max complexity 15 project-wide
  clippy.toml
  notes/05-developer-tooling.md
  pyproject.toml
Due: taplo

cid(update-state): workspace bootstrapped with 9 stub functions, no implementations yet
  .claude/context/state.md
Due: none

cid(define-next): implement ISCC codec module with type enums and encoding primitives
  .claude/context/next.md
Due: none

cid(advance): implement ISCC codec module with type enums and encoding primitives
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-lib/Cargo.toml
  crates/iscc-lib/src/codec.rs
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): codec module PASS — 42 tests, correct SubType values, clean clippy/fmt
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): codec module done, 42 tests pass, all gen_*_v0 still stubs
  .claude/context/state.md
Due: none

cid(define-next): implement gen_instance_code_v0 with conformance tests
  .claude/context/next.md
Due: none

cid(advance): implement gen_instance_code_v0 with conformance tests
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-lib/Cargo.toml
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/tests/data.json
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): gen_instance_code_v0 — PASS, all 43 tests green
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): gen_instance_code_v0 implemented and passing, 8 stubs remain
  .claude/context/state.md
Due: none

cid(define-next): implement gen_meta_code_v0 for name/description inputs
  .claude/context/next.md
Due: none

cid(advance): implement gen_meta_code_v0 with SimHash and text normalization
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-lib/Cargo.toml
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/simhash.rs
  crates/iscc-lib/src/utils.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): PASS gen_meta_code_v0 — 76 tests, all conformance vectors verified
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): 2/9 gen functions implemented, 76 tests pass
  .claude/context/state.md
Due: none

cid(define-next): implement gen_text_code_v0 with MinHash
  .claude/context/next.md
Due: none

cid(advance): implement gen_text_code_v0 with MinHash
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-lib/Cargo.toml
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/minhash.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): gen_text_code_v0 PASS — fix incorrect SimHash learning
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): 3/9 gen functions implemented, 85 tests pass
  .claude/context/state.md
Due: none

cid(define-next): implement gen_audio_code_v0 with multi-stage SimHash
  .claude/context/next.md
Due: none

cid(advance): implement gen_audio_code_v0 with multi-stage SimHash
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  taplo: any of: \.toml$
  yamlfix: any of: \.(yaml|yml)$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ty: any of: \.py$
  security: any of: \.py$
  complexity: any of: \.py$
  pytest: any of: \.py$
