Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(review): gen_audio_code_v0 PASS — all 5 conformance vectors, 92 tests green
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): 4/9 gen functions implemented, 92 tests pass
  .claude/context/state.md
Due: none

cid(define-next): implement gen_mixed_code_v0 with SimHash code mixing
  .claude/context/next.md
Due: none

cid(advance): implement gen_mixed_code_v0 with SimHash code mixing
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS gen_mixed_code_v0 — both conformance vectors pass, 93 tests green
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): 5/9 gen functions implemented, 93 tests pass
  .claude/context/state.md
Due: none

cid(define-next): implement gen_iscc_code_v0 composite code assembly
  .claude/context/next.md
Due: none

cid(advance): implement gen_iscc_code_v0 composite code assembly
  .claude/context/handoff.md
  crates/iscc-lib/src/codec.rs
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): gen_iscc_code_v0 — PASS, all 107 tests green
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): 6/9 gen functions implemented, 107 tests pass, gen_iscc_code_v0 added
  .claude/context/state.md
Due: none

cid(define-next): implement CDC module and gen_data_code_v0
  .claude/context/next.md
Due: none

cid(advance): implement CDC module and gen_data_code_v0
  .claude/context/handoff.md
  crates/iscc-lib/src/cdc.rs
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — CDC module and gen_data_code_v0 verified clean
  .claude/context/handoff.md
Due: none

cid(update-state): 7/9 gen functions implemented, 117 tests pass, gen_data_code_v0 added
  .claude/context/state.md
Due: none

cid(define-next): implement gen_image_code_v0 with DCT-based perceptual hash
  .claude/context/next.md
Due: none

cid(advance): implement gen_image_code_v0 with DCT-based perceptual hash
  .claude/context/handoff.md
  crates/iscc-lib/src/dct.rs
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): gen_image_code_v0 — PASS, all 3 conformance vectors verified
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): 8/9 gen functions implemented, 128 tests pass, gen_image_code_v0 added
  .claude/context/state.md
Due: none

cid(define-next): implement gen_video_code_v0 with WTA-Hash
  .claude/context/next.md
Due: none

cid(advance): implement gen_video_code_v0 with WTA-Hash
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/wtahash.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(update-state): all 9 gen functions implemented, 134 tests pass, ready for bindings
  .claude/context/state.md
Due: none

cid(define-next): implement gen_meta_code_v0 meta object support
  .claude/context/next.md
Due: none

cid(advance): implement gen_meta_code_v0 meta object support
  .claude/context/handoff.md
  crates/iscc-lib/Cargo.toml
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/simhash.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): pass — meta object support complete, 100% conformance
  .claude/context/handoff.md
  .claude/context/learnings.md
  crates/iscc-lib/src/simhash.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(update-state): 100% conformance achieved, 143 tests pass, ready for Python bindings
  .claude/context/state.md
Due: none

cid(define-next): scaffold iscc-py crate with PyO3/maturin and expose gen_instance_code_v0
  .claude/context/next.md
Due: none

cid(advance): scaffold iscc-py crate with PyO3/maturin and expose gen_instance_code_v0
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-lib/src/lib.rs
  crates/iscc-py/Cargo.toml
  crates/iscc-py/pyproject.toml
  crates/iscc-py/python/iscc/__init__.py
  crates/iscc-py/python/iscc/py.typed
  crates/iscc-py/src/lib.rs
  tests/test_smoke.py
Due: cargo-fmt, ruff-check, ruff-format, taplo, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): needs_work — ty type checker fails on native module import
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): Python bindings scaffolded with 1/9 functions, ty stub missing
  .claude/context/state.md
Due: none

cid(define-next): expose all 9 gen_*_v0 functions in PyO3 bindings with type stub
  .claude/context/next.md
Due: none

cid(advance): expose all 9 gen_*_v0 functions in PyO3 bindings with type stub
  .claude/context/handoff.md
  crates/iscc-py/python/iscc/__init__.py
  crates/iscc-py/python/iscc/_lowlevel.pyi
  crates/iscc-py/src/lib.rs
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS — all 9 gen_*_v0 PyO3 bindings verified clean
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): all 9 PyO3 bindings working, hooks pass, Python conformance tests needed
  .claude/context/state.md
Due: none

cid(define-next): add Python conformance tests for all 9 gen_*_v0 functions
  .claude/context/next.md
Due: none

cid(advance): add Python conformance tests for all 9 gen_*_v0 functions
  .claude/context/handoff.md
  tests/test_conformance.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — Python conformance tests verified, all 46 vectors pass
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

Increase CID loop pause default from 5s to 10min to reduce subscription budget burn
  mise.toml
  tools/cid.py
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

cid(update-state): Rust core + Python bindings fully verified, other bindings not started
  .claude/context/state.md
Due: none

cid(define-next): add GitHub Actions CI workflow
  .claude/context/next.md
Due: none

cid(advance): add GitHub Actions CI workflow
  .claude/context/handoff.md
  .github/workflows/ci.yml
Due: yamlfix
