Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(update-state): jni 0.22 landed at 168; CI green covering HEAD; dep refresh out of schedulable majors, backlog now review-filed JNI debt
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/counts.md
  .claude/context/state.md
Due: none

cid(define-next): restore zero-copy JNI byte-array helper and test the seven untested natives
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): restore zero-copy JNI byte_array_from_slice and test the seven untested natives
  .claude/agent-memory/advance/deps-refresh.md
  .claude/context/handoff.md
  crates/iscc-jni/CLAUDE.md
  crates/iscc-jni/java/src/test/java/io/iscc/iscc_lib/IsccLibTest.java
  crates/iscc-jni/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — zero-copy JNI byte[] restored, all 33 natives now JUnit-covered
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/binding-reviews.md
  .claude/context/decisions-archive.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 169
  .claude/context/iterations.jsonl
Due: none

cid(update-state): 169 cleared both JNI issues (10 → 8 open); CI green covering HEAD; only the release.yml action pass and the Ruby doc fix are CID-doable
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): pin the .NET test dependencies and commit a NuGet lock file
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/release-yml-static-gates.md
  .claude/context/next.md
Due: none

cid(advance): pin .NET test deps, commit NuGet lock file, locked-mode CI restore + Ruby Magnus doc fix
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/advance/deps-refresh.md
  .claude/context/handoff.md
  .github/workflows/ci.yml
  crates/iscc-rb/CLAUDE.md
  packages/dotnet/CLAUDE.md
  packages/dotnet/Iscc.Lib.Tests/Iscc.Lib.Tests.csproj
  packages/dotnet/Iscc.Lib.Tests/packages.lock.json
Due: yamlfix

cid(review): PASS — .NET lockfile gate re-derived cold and mutation-proved; no CID-doable normal work left
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/dep-refresh-reviews.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 170
  .claude/context/iterations.jsonl
Due: none

cid(loop): unblock the loop for v0.6.0 — authorize both dep majors, fix spec drift
  .claude/agents/review.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/specs/java-bindings.md
  .claude/context/target.md
  Cargo.toml
Due: taplo

cid(update-state): human unblocked v0.6.0 — both dep majors authorized, .NET lockfile gap closed at 170; 8 issues (2 normal), CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): bump criterion 0.7 → 0.8 (dev-dependency, bench harness only)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/dep-refresh-ledger.md
  .claude/context/next.md
Due: none

cid(advance): bump criterion dev-dependency 0.7 -> 0.8
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/advance/deps-refresh.md
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
Due: taplo

cid(review): PASS — criterion 0.8 dev-dep major, dev-only reach proved by cargo tree
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/dep-refresh-reviews.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 171
  .claude/context/iterations.jsonl
Due: none

cid(update-state): criterion 0.8 landed at 171 — uniffi 0.32 is the last v0.6.0 criterion; CI green covering HEAD, 8 issues
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/counts.md
  .claude/context/state.md
Due: none

cid(define-next): bump uniffi 0.31 -> 0.32 and regenerate Swift + Kotlin bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/dep-refresh-ledger.md
  .claude/context/next.md
Due: none

cid(advance): bump uniffi 0.31 -> 0.32 and regenerate Swift + Kotlin bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/advance/uniffi-swift-kotlin.md
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  packages/kotlin/src/main/kotlin/uniffi/iscc_uniffi/iscc_uniffi.kt
  packages/swift/Sources/IsccLib/iscc_uniffi.swift
Due: taplo

cid(review): PASS_WITH_NOTES — uniffi 0.32 regeneration verified, MSRV floor regression filed
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/dep-refresh-reviews.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
  .claude/context/specs/kotlin-bindings.md
  .claude/context/specs/rust-core.md
Due: none

cid(log): iteration 172
  .claude/context/iterations.jsonl
Due: none

cid(update-state): uniffi 0.32 landed at 172 — dep refresh closed; new normal MSRV issue is the last v0.6.0 blocker; CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/dep-refresh-survey.md
  .claude/agent-memory/update-state/env-gotchas.md
  .claude/context/state.md
Due: none

cid(define-next): declare iscc-uniffi's real rustc floor (1.91)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): declare iscc-uniffi rust-version = 1.91 (real floor via cargo-platform 0.3.3)
  .claude/agent-memory/advance/uniffi-swift-kotlin.md
  .claude/context/handoff.md
  crates/iscc-uniffi/Cargo.toml
Due: taplo

cid(review): PASS — iscc-uniffi declares its true 1.91 floor; MSRV issue closed, loop out of CID-doable work
  .claude/agent-memory/review/MEMORY.md
  .claude/context/decisions-archive.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 173
  .claude/context/iterations.jsonl
Due: none

iscc_decode: normalize unit sequences before decoding
  .claude/agents/define-next.md
  .claude/agents/meta-improve.md
  .claude/agents/review.md
  .claude/agents/update-state.md
  .claude/context/issues.md
  .claude/context/specs/cpp-bindings.md
  .claude/context/specs/dotnet-bindings.md
  .claude/context/specs/go-bindings.md
  .claude/context/specs/java-bindings.md
  .claude/context/specs/kotlin-bindings.md
  .claude/context/specs/nodejs-bindings.md
  .claude/context/specs/ruby-bindings.md
  .claude/context/specs/rust-core.md
  .claude/context/specs/swift-bindings.md
  .claude/context/specs/wasm-bindings.md
  .claude/context/target.md
  .github/workflows/ci.yml
  crates/iscc-lib/src/lib.rs
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  docs/howto/go.md
  packages/go/README.md
  packages/go/codec.go
  packages/go/codec_test.go
  packages/go/iscc_id_test.go
  tests/test_cid.py
  tests/test_iscc_decode_conformance.py
  tools/cid.py
Due: cargo-fmt, ruff-check, ruff-format, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(update-state): ISCC-IDv1 scope opened out-of-loop at 2c4e487 — 33 symbols now targeted, gen_iscc_id_v1 absent, 471-line code delta unpushed/CI-unverified; 11 issues
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Rust core codec accepts ISCC-IDv1 (Version 1) for MainType Id
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): codec accepts ISCC-IDv1 (Version 1) for MainType Id
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/advance/go-idv1.md
  .claude/context/handoff.md
  crates/iscc-lib/src/codec.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): NEEDS_WORK — decode_header truncation canonicalizes malformed input; fix CI feature-matrix compile break
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(log): iteration 174
  .claude/context/iterations.jsonl
Due: none

cid(update-state): core IDv1 decode landed (NEEDS_WORK), decode_header critical open, batch unpushed/CI-unverified; 12 issues
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): reject truncated varnibble header fields in decode_header
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): reject truncated varnibble header fields in decode_header
  .claude/context/handoff.md
  crates/iscc-lib/src/codec.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — decode_header rejects wrapped varnibble headers, critical issue resolved
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 175
  .claude/context/iterations.jsonl
Due: none

cid(update-state): CI RED on develop — pushed IDv1 batch trips semver (#[non_exhaustive] Version) + CRAP (decode_header) gates; 11 issues
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): re-baseline CRAP gate for decode_header covered complexity increase
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): re-baseline CRAP gate for IDv1 batch covered complexity
  .claude/agent-memory/advance/ci-gates.md
  .claude/context/handoff.md
  .crap-baseline.json
Due: none
