Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(review): PASS — 7 Tier 1 symbols propagated to Python bindings
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): Python 30/30 Tier 1 symbols; 5 other bindings at 23/30; CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): accept dict meta in Python gen_meta_code_v0
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): accept dict meta in Python gen_meta_code_v0
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  tests/test_new_symbols.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — dict meta for gen_meta_code_v0
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): dict meta done (3 Python extensions remain); CI green all 7 jobs
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): accept PIL pixel data in Python gen_image_code_v0
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): widen gen_image_code_v0 to accept PIL pixel data
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  tests/test_new_symbols.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — PIL pixel data for gen_image_code_v0
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): PIL pixel data done (2 Python extensions remain); CI green all 7 jobs
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): add MT/ST/VS IntEnums and core_opts to Python
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add MT/ST/VS IntEnums, core_opts, and IntEnum-typed iscc_decode to Python
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  tests/test_new_symbols.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — MT/ST/VS IntEnums, core_opts, IntEnum-typed iscc_decode
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): Python fully met (MT/ST/VS/core_opts done); 5 bindings at 23/30
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): propagate 7 new Tier 1 symbols to Node.js bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): propagate 7 Tier 1 symbols to Node.js bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-napi/__tests__/functions.test.mjs
  crates/iscc-napi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — 7 Tier 1 symbols propagated to Node.js (30/30)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Node.js fully met (30/30); 4 bindings remain at 23/30
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): propagate 7 Tier 1 symbols to WASM bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): propagate 7 Tier 1 symbols to WASM bindings (30/30)
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-wasm/src/lib.rs
  crates/iscc-wasm/tests/unit.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — 7 Tier 1 symbols propagated to WASM bindings (30/30)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  crates/iscc-wasm/CLAUDE.md
Due: none

cid(update-state): WASM fully met (30/30); 3 bindings remain at 23/30
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): propagate 7 Tier 1 symbols to C FFI
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): propagate 7 Tier 1 symbols to C FFI bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-ffi/src/lib.rs
  crates/iscc-ffi/tests/test_iscc.c
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — 7 Tier 1 symbols propagated to C FFI (30/30)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  crates/iscc-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(update-state): C FFI fully met (30/30); 2 bindings remain at 23/30 (Java, Go)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): propagate 7 Tier 1 symbols to Java JNI
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): propagate 7 Tier 1 symbols to Java JNI (30/30)
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-jni/java/src/main/java/io/iscc/iscc_lib/IsccDecodeResult.java
  crates/iscc-jni/java/src/main/java/io/iscc/iscc_lib/IsccLib.java
  crates/iscc-jni/java/src/test/java/io/iscc/iscc_lib/IsccLibTest.java
  crates/iscc-jni/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — 7 Tier 1 symbols propagated to Java JNI (30/30)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  crates/iscc-jni/java/src/main/java/io/iscc/iscc_lib/IsccLib.java
Due: none

cid(update-state): Java JNI fully met (30/30); Go is sole remaining binding at 23/30
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): propagate 7 Tier 1 symbols to Go binding
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): propagate 7 Tier 1 symbols to Go binding (30/30)
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  packages/go/iscc.go
  packages/go/iscc_test.go
Due: none

cid(review): PASS — 7 Tier 1 symbols propagated to Go binding (30/30)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): Go 30/30 complete; doc gaps in go.md and Go README identified
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): update Go docs for 30/30 Tier 1 symbols
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Update Go docs for 30/30 Tier 1 symbols
  .claude/context/handoff.md
  docs/howto/go.md
  packages/go/README.md
Due: none

cid(review): PASS_WITH_NOTES — Go docs updated, fixed decompose prefix comment
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  docs/howto/go.md
Due: none

cid(update-state): Go docs gap resolved; Documentation and Per-Crate READMEs now met
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): add codec/constants sections to binding howto guides
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Add Codec operations and Constants sections to 4 binding howto guides
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  docs/howto/java.md
  docs/howto/nodejs.md
  docs/howto/python.md
  docs/howto/wasm.md
Due: none
