Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(define-next): Create C FFI crate with extern "C" wrappers and cbindgen
  .claude/context/next.md
Due: none

cid(advance): add iscc-ffi crate with C FFI bindings and cbindgen
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-ffi/Cargo.toml
  crates/iscc-ffi/cbindgen.toml
  crates/iscc-ffi/src/lib.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): PASS — iscc-ffi crate with 11 C symbols, 20 tests, clean cbindgen header
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): C FFI crate complete with 20 tests, 5 crates total, CI green
  .claude/context/state.md
Due: none

cid(define-next): Add C test program and CI job for iscc-ffi
  .claude/context/next.md
Due: none

cid(advance): add C test program and CI job for iscc-ffi
  .claude/context/handoff.md
  .github/workflows/ci.yml
  crates/iscc-ffi/tests/test_iscc.c
Due: yamlfix

cid(review): C test program and CI job — PASS
  .claude/context/handoff.md
  .claude/context/learnings.md
  crates/iscc-ffi/tests/test_iscc.c
Due: none

cid(update-state): C test program + CI job complete, 5 jobs green, docs/benchmarks/publishing remain
  .claude/context/state.md
Due: none

cid(define-next): Add comparative pytest-benchmark for iscc_lib Python bindings
  .claude/context/next.md
Due: none

cid(advance): add comparative pytest-benchmark for iscc_lib Python bindings
  .claude/context/handoff.md
  benchmarks/python/bench_iscc_lib.py
  benchmarks/python/conftest.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — comparative pytest-benchmark for iscc_lib bindings
  .claude/context/handoff.md
  benchmarks/python/conftest.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(update-state): benchmarks complete, docs + OIDC publishing remain
  .claude/context/state.md
Due: none

cid(define-next): Set up zensical documentation scaffold
  .claude/context/next.md
Due: none

cid(advance): set up zensical documentation scaffold
  .claude/context/handoff.md
  docs/index.md
  pyproject.toml
  uv.lock
  zensical.toml
Due: taplo

cid(review): fix doc examples, update learnings
  .claude/context/handoff.md
  .claude/context/learnings.md
  docs/index.md
Due: none

cid(update-state): docs scaffold exists, content pages + Pages deploy + OIDC publishing remain
  .claude/context/state.md
Due: none

cid(define-next): Add Python API reference page with docstrings
  .claude/context/next.md
Due: none

cid(advance): add Python API reference page with docstrings
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  docs/api.md
  zensical.toml
Due: taplo

cid(review): PASS — Python API reference page with docstrings
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): docs have landing + API ref pages, Pages deploy is next milestone
  .claude/context/state.md
Due: none

cid(define-next): Add GitHub Pages deployment workflow
  .claude/context/next.md
Due: none

cid(advance): add GitHub Pages deployment workflow for docs site
  .claude/context/handoff.md
  .github/workflows/docs.yml
Due: yamlfix

cid(review): PASS — docs deployment workflow matches all requirements
  .claude/context/handoff.md
Due: none

cid(update-state): docs deploy workflow exists, content pages + OIDC publishing remain
  .claude/context/state.md
Due: none

cid(define-next): Add architecture overview documentation page
  .claude/context/next.md
Due: none

cid(advance): add architecture overview documentation page
  .claude/context/handoff.md
  docs/architecture.md
  zensical.toml
Due: taplo

cid(review): fix factual errors in architecture docs
  .claude/context/handoff.md
  docs/architecture.md
Due: none

cid(update-state): CI green, docs deploy fails (Pages not enabled in repo settings)
  .claude/context/state.md
Due: none

cid(define-next): Add OIDC release workflow for crates.io and PyPI
  .claude/context/next.md
Due: none

cid(advance): Add OIDC release workflow for crates.io and PyPI
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS — release workflow meets all verification criteria
  .claude/context/handoff.md
Due: none

cid(update-state): CI green, release workflow added, docs deploy still blocked on Pages setting
  .claude/context/state.md
Due: none

cid(define-next): Add Rust API documentation page
  .claude/context/next.md
Due: none

cid(advance): add Rust API documentation page
  .claude/context/handoff.md
  docs/rust-api.md
  zensical.toml
Due: taplo

cid(review): fix doc inaccuracy — gen functions return ISCC strings, not JSON
  .claude/context/handoff.md
  .claude/context/learnings.md
  docs/rust-api.md
Due: none

cid(update-state): CI green (5 jobs), docs deploy still blocked on Pages, Rust API page added
  .claude/context/state.md
Due: none

cid(define-next): Add benchmark results documentation page
  .claude/context/next.md
Due: none

cid(advance): add benchmark results documentation page
  .claude/context/handoff.md
  docs/benchmarks.md
  zensical.toml
Due: taplo

cid(review): benchmark docs page verified — all 9 functions covered with measured speedup factors
  .claude/context/handoff.md
Due: none

cid(update-state): CI green (5 jobs), docs deploy still blocked on Pages, npm publishing missing
  .claude/context/state.md
Due: none
