Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --all --
  language: system
  stages:
  - pre-commit

ruff-check:
  name: Ruff linting
  entry: uv run ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff formatting
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

taplo:
  name: TOML formatting
  entry: uv run taplo fmt
  language: system
  stages:
  - pre-commit

yamlfix:
  name: YAML formatting
  entry: uv run yamlfix
  language: system
  stages:
  - pre-commit

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: Rust tests
  entry: cargo test --workspace
  language: system
  stages:
  - pre-push
  pass_filenames: false

ty:
  name: Python type checking
  entry: uv run ty check
  language: system
  stages:
  - pre-push
  pass_filenames: false

security:
  name: Security scan (Ruff S rules)
  entry: uv run ruff check --select S --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

complexity:
  name: Complexity check (Ruff C901)
  entry: uv run ruff check --select C901 --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Python tests with coverage
  entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
  language: system
  stages:
  - pre-push
  pass_filenames: false

cid(advance): widen ruff-format prek hook to Markdown for CI gate parity
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/advance/deps-refresh.md
  .claude/context/handoff.md
  .pre-commit-config.yaml
  CLAUDE.md
  docs/development.md
Due: yamlfix

cid(review): PASS_WITH_NOTES — ruff/Markdown hook parity landed; .pyi hook gap filed
  .claude/agent-memory/advance/deps-refresh.md
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/dep-refresh-reviews.md
  .claude/agent-memory/review/gate-reviews.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 138
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Markdown hook parity landed; .pyi hook hole open; CI green on 2b7ec6f
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/lint-tooling.md
  .claude/context/state.md
Due: none

cid(define-next): close two silent no-op gates — release.yml re-trigger guards and .pyi hook coverage
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/release-yml-static-gates.md
  .claude/context/next.md
Due: none

cid(advance): guard 19 release.yml jobs for registry re-triggers; cover .pyi in local ruff hooks
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/advance/deps-refresh.md
  .claude/context/handoff.md
  .claude/skills/release/SKILL.md
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CLAUDE.md
  docs/development.md
Due: yamlfix

cid(review): PASS — release.yml re-trigger guards + .pyi hook coverage verified; 2 issues closed
  .claude/agent-memory/review/MEMORY.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 139
  .claude/context/iterations.jsonl
Due: none

cid(update-state): release.yml re-trigger guards + .pyi hook coverage verified; 6 issues open; CI green on 7b816da
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/lint-tooling.md
  .claude/context/state.md
Due: none

cid(define-next): refresh the 97 GitHub Actions uses: refs in release.yml
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/lint-tooling-lessons.md
  .claude/agent-memory/define-next/release-yml-static-gates.md
  .claude/context/next.md
Due: none

cid(advance): refresh 9 GitHub Actions uses: refs in release.yml to current majors
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS — release.yml action majors refreshed; dep-refresh slice 9 closed, 2 follow-ups filed
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/gha-workflow-reviews.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 140
  .claude/context/iterations.jsonl
Due: none

cid(audit): metrics snapshot
  .claude/context/metrics.jsonl
Due: none

cid(update-state): dep-refresh slice 9 closes the tooling thread; 8 issues open (2 new [review]); CI green on b8aa174
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/dep-refresh-survey.md
  .claude/context/state.md
Due: none

cid(define-next): land the Unicode 16.0 boundary vectors as a Rust-core fixture
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/unicode-freeze-facts.md
  .claude/context/next.md
Due: none

cid(advance): land Unicode 16.0 boundary vectors as Rust-core fixture
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/CLAUDE.md
  crates/iscc-lib/tests/test_unicode_boundary.rs
  crates/iscc-lib/tests/unicode_boundary.json
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS_WITH_NOTES — Unicode 16.0 boundary fixture clean; add ungated fixture-content guard
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
  crates/iscc-lib/tests/test_unicode_boundary.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(log): iteration 141
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Unicode boundary fixture landed in Rust core (328 tests); binding half still blocked; 8 issues; CI green on b40b1bb
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/unicode-contract.md
  .claude/context/state.md
Due: none

cid(define-next): land the release.yml static checks 1-2 as an executable gate
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/release-yml-static-gates.md
  .claude/context/next.md
Due: none

cid(advance): land release.yml static checks as prek hook + pytest gate
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .pre-commit-config.yaml
  CLAUDE.md
  docs/development.md
  pyproject.toml
  scripts/check_release_workflow.py
  tests/test_check_release_workflow.py
  uv.lock
Due: ruff-check, ruff-format, taplo, yamlfix, ty, security, complexity, pytest

cid(review): PASS — release.yml static gate lands; matcher limitation documented
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/gha-workflow-reviews.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
  scripts/check_release_workflow.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(log): iteration 142
  .claude/context/iterations.jsonl
Due: none

cid(update-state): release.yml static gate (checks 1-2) landed; Unicode binding half still human-parked; 8 issues; CI green on df44f6f
  .claude/agent-memory/update-state/MEMORY-archive.md
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): document the declared Unicode 16.0.0 data version for consumers
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): document declared Unicode 16.0.0 data version for library consumers
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  docs/howto/go.md
  docs/llms.txt
  docs/unicode.md
  scripts/gen_llms_full.py
  zensical.toml
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

cid(review): PASS_WITH_NOTES — Unicode docs page lands; two false consumer claims corrected
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
  docs/howto/go.md
  docs/unicode.md
Due: none

cid(log): iteration 143
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Unicode consumer docs page landed (docs-only iter); criteria 3+4 now fully human-blocked; 8 issues; CI green on cd56117
  .claude/agent-memory/update-state/MEMORY-archive.md
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): gate release.yml action-input compatibility in CI
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/release-yml-static-gates.md
  .claude/context/next.md
Due: none

cid(advance): add --check-action-inputs mode to release workflow gate with dedicated CI job
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/ci.yml
  docs/development.md
  scripts/check_release_workflow.py
  tests/test_check_release_workflow.py
Due: ruff-check, ruff-format, yamlfix, ty, security, complexity, pytest

cid(review): PASS_WITH_NOTES — action-input gate lands; 4 blind spots + docs-list drift filed
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/codex-integration.md
  .claude/agent-memory/review/gha-workflow-reviews.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 144
  .claude/context/iterations.jsonl
Due: none

cid(update-state): action-input gate landed + CI 22 checks green; Documentation downgraded — llms.txt missing 6 of 23 pages; 9 issues
  .claude/agent-memory/update-state/MEMORY-archive.md
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): fix docs/llms.txt drift and gate the three docs page lists
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): fix docs/llms.txt drift and gate the hand-wired docs page lists
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .pre-commit-config.yaml
  docs/development.md
  docs/llms.txt
  scripts/check_docs_nav.py
  tests/test_check_docs_nav.py
Due: ruff-check, ruff-format, yamlfix, ty, security, complexity, pytest

cid(review): PASS_WITH_NOTES — docs-list gate proven by real-regression mutations; 2 blind spots filed
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/codex-integration.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
  tests/test_check_docs_nav.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(log): iteration 145
  .claude/context/iterations.jsonl
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  taplo: any of: \.toml$
  yamlfix: any of: \.(yaml|yml)$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ty: any of: \.py$
  security: any of: \.py$
  complexity: any of: \.py$
  pytest: any of: \.py$
