Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --all --
  language: system
  stages:
  - pre-commit

ruff-check:
  name: Ruff linting
  entry: uv run ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff formatting
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

taplo:
  name: TOML formatting
  entry: uv run taplo fmt
  language: system
  stages:
  - pre-commit

yamlfix:
  name: YAML formatting
  entry: uv run yamlfix
  language: system
  stages:
  - pre-commit

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: Rust tests
  entry: cargo test --workspace
  language: system
  stages:
  - pre-push
  pass_filenames: false

ty:
  name: Python type checking
  entry: uv run ty check
  language: system
  stages:
  - pre-push
  pass_filenames: false

security:
  name: Security scan (Ruff S rules)
  entry: uv run ruff check --select S --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

complexity:
  name: Complexity check (Ruff C901)
  entry: uv run ruff check --select C901 --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Python tests with coverage
  entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
  language: system
  stages:
  - pre-push
  pass_filenames: false

cid(advance): add alg_simhash, alg_minhash_256, alg_cdc_chunks to Python bindings
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  crates/iscc-py/src/lib.rs
  tests/test_algo.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS — alg_simhash, alg_minhash_256, alg_cdc_chunks bindings
  .claude/context/handoff.md
Due: none

cid(update-state): 20/23 Python Tier 1 symbols, 116 Python tests, CI green
  .claude/context/state.md
Due: none

cid(define-next): Complete Python bindings to 23/23 Tier 1 symbols
  .claude/context/next.md
Due: none

cid(advance): Add soft_hash_video_v0, DataHasher, InstanceHasher to Python bindings (23/23 Tier 1)
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  crates/iscc-py/src/lib.rs
  tests/test_streaming.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS — 23/23 Tier 1 Python bindings complete
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

Sharpen CID hill-climbing signal in define-next and review agents
  .claude/agents/define-next.md
  .claude/agents/review.md
Due: none

Track CID iteration logs in git and gitignore napi-rs build artifacts
  .claude/agents/review.md
  .claude/context/iterations.jsonl
  crates/iscc-napi/.gitignore
Due: none

CID workflow: 20-min pause default, Enter to skip, track iteration log
  mise.toml
  tools/cid.py
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

Update CID context files to reflect 23/23 Python milestone and workflow changes
  .claude/context/handoff.md
  .claude/context/learnings.md
  .claude/context/state.md
Due: none

cid(update-state): Confirm 23/23 Python milestone, 250+147 tests pass, CI green
  .claude/context/state.md
Due: none

cid(define-next): Add text utils and simple functions to Node.js bindings
  .claude/context/next.md
Due: none

cid(advance): add 8 text util and helper functions to Node.js bindings
  .claude/context/handoff.md
  crates/iscc-napi/__tests__/functions.test.mjs
  crates/iscc-napi/package.json
  crates/iscc-napi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — 17/23 Node.js Tier 1 symbols with 73 tests
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Node.js at 17/23 Tier 1 symbols, 73 tests, CI green
  .claude/context/state.md
Due: none

cid(define-next): Add 8 simple functions to WASM bindings
  .claude/context/next.md
Due: none

cid(advance): add 8 simple functions to WASM bindings
  .claude/context/handoff.md
  crates/iscc-wasm/src/lib.rs
  crates/iscc-wasm/tests/unit.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — WASM bindings expanded to 17/23 Tier 1 symbols
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): WASM at 17/23, Node.js 17/23, C FFI 11/23, CI green
  .claude/context/state.md
Due: none

cid(define-next): Add 8 simple functions to C FFI bindings
  .claude/context/next.md
Due: none

cid(advance): add 8 simple functions to C FFI bindings
  .claude/context/handoff.md
  crates/iscc-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — C FFI expanded to 20 exported symbols
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): All non-Python bindings at 17/23 Tier 1, C FFI expanded to 20 symbols
  .claude/context/state.md
Due: none

cid(define-next): Add 4 algorithm primitives to Node.js bindings
  .claude/context/next.md
Due: none

cid(advance): add 4 algorithm primitives to Node.js bindings
  .claude/context/handoff.md
  crates/iscc-napi/__tests__/functions.test.mjs
  crates/iscc-napi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — 4 algorithm primitives added to Node.js bindings
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Node.js at 21/23 Tier 1, WASM and C FFI at 17/23, all tests green
  .claude/context/state.md
Due: none

cid(define-next): Add 4 algorithm primitives to WASM bindings
  .claude/context/next.md
Due: none

cid(advance): Add 4 algorithm primitives to WASM bindings
  .claude/context/handoff.md
  crates/iscc-wasm/src/lib.rs
  crates/iscc-wasm/tests/unit.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — 4 algorithm primitives added to WASM bindings
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): WASM at 21/23 parity with Node.js, C FFI still at 17/23, all tests green
  .claude/context/state.md
Due: none

cid(define-next): Add 4 algorithm primitives to C FFI bindings
  .claude/context/next.md
Due: none

cid(advance): add 4 algorithm primitives to C FFI bindings
  .claude/context/handoff.md
  crates/iscc-ffi/src/lib.rs
  crates/iscc-ffi/tests/test_iscc.c
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — 4 algorithm primitives added to C FFI bindings
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): all 3 non-Python bindings at 21/23 parity, streaming hashers next
  .claude/context/state.md
Due: none

cid(define-next): Add DataHasher/InstanceHasher streaming classes to Node.js bindings
  .claude/context/next.md
Due: none

Add per-crate CLAUDE.md files for on-demand agent context
  crates/iscc-ffi/CLAUDE.md
  crates/iscc-lib/CLAUDE.md
  crates/iscc-napi/CLAUDE.md
  crates/iscc-py/CLAUDE.md
  crates/iscc-wasm/CLAUDE.md
Due: none

cid(advance): add DataHasher/InstanceHasher streaming classes to Node.js bindings
  .claude/context/handoff.md
  crates/iscc-napi/__tests__/functions.test.mjs
  crates/iscc-napi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS_WITH_NOTES — Node.js streaming hashers at 23/23 parity
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): Node.js at 23/23 parity, WASM and C FFI still need streaming hashers
  .claude/context/state.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  taplo: any of: \.toml$
  yamlfix: any of: \.(yaml|yml)$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ty: any of: \.py$
  security: any of: \.py$
  complexity: any of: \.py$
  pytest: any of: \.py$
