Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --all --
  language: system
  stages:
  - pre-commit

ruff-check:
  name: Ruff linting
  entry: uv run ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff formatting
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

taplo:
  name: TOML formatting
  entry: uv run taplo fmt
  language: system
  stages:
  - pre-commit

yamlfix:
  name: YAML formatting
  entry: uv run yamlfix
  language: system
  stages:
  - pre-commit

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: Rust tests
  entry: cargo test --workspace
  language: system
  stages:
  - pre-push
  pass_filenames: false

ty:
  name: Python type checking
  entry: uv run ty check
  language: system
  stages:
  - pre-push
  pass_filenames: false

security:
  name: Security scan (Ruff S rules)
  entry: uv run ruff check --select S --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

complexity:
  name: Complexity check (Ruff C901)
  entry: uv run ruff check --select C901 --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Python tests with coverage
  entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
  language: system
  stages:
  - pre-push
  pass_filenames: false

cid(update-state): llms.txt drift fixed + parity gate landed — Documentation back to met; CI green (22 checks); 9 issues, only 2 unblocked
  .claude/agent-memory/update-state/MEMORY-archive.md
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): close the known blind spots in the two gate scripts
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/gate-scripts-playbook.md
  .claude/context/next.md
Due: none

cid(advance): close the blind spots in the docs-nav and action-inputs gates
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .pre-commit-config.yaml
  docs/development.md
  scripts/check_docs_nav.py
  scripts/check_release_workflow.py
  tests/test_check_docs_nav.py
  tests/test_check_release_workflow.py
Due: ruff-check, ruff-format, yamlfix, ty, security, complexity, pytest

cid(review): PASS_WITH_NOTES — both gate blind spots closed, proven by real-regression mutations; loop pause requested (no unblocked normal work)
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
  docs/development.md
  scripts/check_release_workflow.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(log): iteration 146
  .claude/context/iterations.jsonl
Due: none

human(decide): sentinel freeze rule, bounded severity, Go Final_Sigma bug
  .claude/context/decisions.md
  .claude/context/issues.md
  .claude/context/specs/rust-core.md
Due: none

cid(update-state): human ruling reverses the freeze rule to a U+FFFF sentinel — criterion 1 regressed to unmet; new critical Go Final_Sigma bug reproduced; human backlog cleared; CI green (22 checks)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/unicode-contract.md
  .claude/context/state.md
Due: none

cid(define-next): fix the packages/go Final_Sigma case-mapping defect
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): fix packages/go Final_Sigma case mapping in TextCollapse
  .claude/agent-memory/advance/go-idv1.md
  .claude/context/handoff.md
  packages/go/code_content_text_test.go
  packages/go/code_meta_test.go
  packages/go/codec_test.go
  packages/go/conformance.go
  packages/go/utils.go
  packages/go/utils_test.go
Due: none

cid(log): iteration 147
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Go Final_Sigma fix verified at HEAD, but iteration 147's review role crashed and the fix is unpushed so CI never covered it; sentinel conversion still unmet and next
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/unicode-contract.md
  .claude/context/state.md
Due: none

cid(define-next): convert the Unicode freeze rule to a U+FFFF sentinel map
  .claude/agent-memory/define-next/MEMORY-archive.md
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/unicode-freeze-facts.md
  .claude/context/next.md
Due: none

cid(advance): convert Unicode freeze rule to U+FFFF sentinel map
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/advance/release-gate.md
  .claude/agent-memory/advance/unicode-freeze.md
  .claude/context/handoff.md
  .crap-baseline.json
  crates/iscc-lib/CLAUDE.md
  crates/iscc-lib/src/utils.rs
  crates/iscc-lib/tests/test_unicode_boundary.rs
  docs/unicode.md
  scripts/gen_unicode16_unassigned.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS — sentinel map verified conformant by 1,270-case sequence differential
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 148
  .claude/context/iterations.jsonl
Due: none

cid(review): record the pre-push iscc_lib build prerequisite (iteration 148)
  .claude/agent-memory/review/MEMORY.md
Due: none

fix(cid): don't fail an iteration when a role commits then overruns
  tests/test_cid.py
  tools/cid.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

fix(cid): give review the same 3600s headroom as advance
  tools/cid.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(define-next): add the four Unicode sequence boundary vectors and pin them in the fixture guard
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/unicode-freeze-facts.md
  .claude/context/next.md
Due: none

cid(advance): add the four Unicode sequence boundary vectors and pin them in the fixture guard
  .claude/agent-memory/advance/unicode-freeze.md
  .claude/context/handoff.md
  crates/iscc-lib/tests/test_unicode_boundary.rs
  crates/iscc-lib/tests/unicode_boundary.json
  docs/unicode.md
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS_WITH_NOTES — sequence vectors verified by mutation probe; delete-filter oracle for U+A7F1 corrected
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/binding-reviews.md
  .claude/agent-memory/review/dep-refresh-reviews.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
  crates/iscc-lib/tests/test_unicode_boundary.rs
  docs/unicode.md
Due: cargo-fmt, cargo-clippy, cargo-test

cid(log): iteration 149
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Unicode sequence vectors landed — Rust boundary fixture now complete and design-discriminating; binding propagation is the remaining gap
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/quality-gates.md
  .claude/agent-memory/update-state/unicode-contract.md
  .claude/context/state.md
Due: none

cid(define-next): propagate the Unicode boundary fixture to the Python and Go test suites
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/unicode-fixture-propagation.md
  .claude/agent-memory/define-next/unicode-freeze-facts.md
  .claude/context/next.md
Due: none

cid(advance): propagate Unicode boundary fixture to Python and Go test suites
  .claude/agent-memory/advance/unicode-freeze.md
  .claude/context/handoff.md
  docs/unicode.md
  packages/go/CLAUDE.md
  packages/go/testdata/unicode_boundary.json
  packages/go/unicode_boundary_test.go
  tests/test_unicode_boundary.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS_WITH_NOTES — Unicode boundary fixture propagated to Python + Go, mutation-probed
  .claude/agent-memory/review/MEMORY.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 150
  .claude/context/iterations.jsonl
Due: none

cid(audit): metrics snapshot
  .claude/context/metrics.jsonl
Due: none

cid(update-state): Unicode fixture propagation reaches 2 of 11 bindings (Python + Go); 9 surfaces, 3 sibling data.json copies and the differential sweep remain
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/unicode-contract.md
  .claude/context/state.md
Due: none

cid(define-next): propagate the Unicode boundary fixture to the WASM and Ruby test suites
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/unicode-fixture-propagation.md
  .claude/context/next.md
Due: none

cid(advance): gate Unicode boundary fixture on WASM and Ruby test suites
  .claude/agent-memory/advance/unicode-freeze.md
  .claude/context/handoff.md
  crates/iscc-rb/CLAUDE.md
  crates/iscc-rb/test/test_unicode_boundary.rb
  crates/iscc-wasm/CLAUDE.md
  crates/iscc-wasm/tests/unicode_boundary.rs
  docs/unicode.md
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — WASM + Ruby Unicode boundary gates mutation-probed on both surfaces
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/binding-reviews.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
  crates/iscc-wasm/CLAUDE.md
Due: none

cid(log): iteration 151
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Unicode fixture propagation reaches 4 of 11 native surfaces (WASM + Ruby gated at 151); 7 surfaces, 4 sibling data.json copies and the differential sweep remain
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/unicode-contract.md
  .claude/context/state.md
Due: none

cid(define-next): gate byte-identity of the vendored test-vector copies
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/unicode-fixture-propagation.md
  .claude/context/next.md
Due: none

cid(advance): gate byte-identity of vendored test-vector copies via pytest anchor
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/CLAUDE.md
  tests/test_vendored_fixtures.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — vendored-fixture drift gate proven by six mutations incl. deletion and fail-closed
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/binding-reviews.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
Due: none

cid(review): record the pre-push clippy-driver SIGBUS as infrastructure, not a gate rejection
  .claude/agent-memory/review/review-patterns.md
  .claude/context/handoff.md
Due: none

cid(log): iteration 152
  .claude/context/iterations.jsonl
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  taplo: any of: \.toml$
  yamlfix: any of: \.(yaml|yml)$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ty: any of: \.py$
  security: any of: \.py$
  complexity: any of: \.py$
  pytest: any of: \.py$
