Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(update-state): docs fully updated; issue #21 complete; only issue #16 remains
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Define feature flags and gate meta-code + text-processing
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add feature flags for meta-code and text-processing
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/Cargo.toml
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/simhash.rs
  crates/iscc-lib/src/utils.rs
  crates/iscc-lib/tests/test_text_utils.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): PASS — feature flags correctly implemented and verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(update-state): feature flags done; conformance adaptation + CI matrix remain for #16
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Adapt conformance_selftest to skip disabled features
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): make conformance_selftest always available, skip disabled features
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/src/conformance.rs
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — conformance_selftest correctly adapted for feature flags
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): conformance_selftest adaptation done; CI feature matrix remains for #16
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add CI feature matrix testing for issue #16
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add CI feature matrix testing for iscc-lib
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/ci.yml
Due: yamlfix

cid(review): PASS — CI feature matrix testing completes issue #16
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): DONE — all target criteria met, CI green, no open issues
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

Fix review agent: correct commit refs, optimize codex output, reorder steps
  .claude/agents/review.md
Due: none

Fix C/C++ howto: pre-built binaries are available, not planned
  docs/howto/c-cpp.md
Due: none

Fix FFI memory-safety: replace unsound shrink_to_fit with boxed slices
  crates/iscc-ffi/CLAUDE.md
  crates/iscc-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Remove experimental notices from all READMEs and docs for v0.1.0 release
  .claude/context/target.md
  README.md
  crates/iscc-ffi/README.md
  crates/iscc-jni/README.md
  crates/iscc-lib/README.md
  crates/iscc-napi/README.md
  crates/iscc-py/README.md
  crates/iscc-wasm/README.md
  docs/index.md
  packages/go/README.md
Due: none

Fix clippy warnings in FFI boxed-slice free functions
  crates/iscc-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Update release skill with GitHub Releases (FFI) verification
  .claude/skills/release/SKILL.md
Due: none

Release 0.1.0
  Cargo.lock
  Cargo.toml
  README.md
  crates/iscc-jni/README.md
  crates/iscc-jni/java/pom.xml
  crates/iscc-napi/package.json
  docs/howto/java.md
  docs/java-api.md
  mise.toml
  pyproject.toml
  scripts/test_install.py
  uv.lock
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

Track iscc-core v1.3.0 upstream update as critical issue
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

Track issue: add language logos to README and docs
  .claude/context/issues.md
Due: none

Add Ruby bindings target spec, issue, and devcontainer setup
  .claude/context/issues.md
  .claude/context/specs/ci-cd.md
  .claude/context/specs/ruby-bindings.md
  .claude/context/target.md
  .devcontainer/Dockerfile
Due: none

cid(update-state): IN_PROGRESS — Ruby bindings not started, 3 open issues, CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Vendor iscc-core v1.3.0 data.json and fix Go conformance loader
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): vendor iscc-core v1.3.0 data.json and fix Go conformance loader
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/tests/data.json
  packages/go/code_content_audio_test.go
  packages/go/code_content_image_test.go
  packages/go/code_content_mixed_test.go
  packages/go/code_content_text_test.go
  packages/go/code_content_video_test.go
  packages/go/code_data_test.go
  packages/go/code_instance_test.go
  packages/go/code_iscc_test.go
  packages/go/code_meta_test.go
  packages/go/conformance.go
  packages/go/testdata/data.json
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — v1.3.0 conformance vectors verified, critical issue resolved
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): WASM CI regression — count assertion 16→20 in conformance.rs
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Fix WASM conformance assertion count (16→20)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): fix WASM conformance assertion count 16→20
  .claude/context/handoff.md
  crates/iscc-wasm/tests/conformance.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — WASM conformance assertion 16→20 verified
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): CI green — WASM regression resolved, next is Ruby bindings
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Scaffold iscc-rb crate with Magnus bridge and gem infrastructure
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): scaffold iscc-rb crate with Magnus bridge and gem infrastructure
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .devcontainer/Dockerfile
  Cargo.lock
  Cargo.toml
  crates/iscc-rb/.gitignore
  crates/iscc-rb/Cargo.toml
  crates/iscc-rb/Gemfile
  crates/iscc-rb/Gemfile.lock
  crates/iscc-rb/README.md
  crates/iscc-rb/Rakefile
  crates/iscc-rb/extconf.rb
  crates/iscc-rb/iscc-lib.gemspec
  crates/iscc-rb/lib/iscc_lib.rb
  crates/iscc-rb/lib/iscc_lib/version.rb
  crates/iscc-rb/src/lib.rs
  crates/iscc-rb/test/test_helper.rb
  crates/iscc-rb/test/test_smoke.rb
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): PASS — Ruby scaffold verified, fix CI workspace exclusion
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  .github/workflows/ci.yml
Due: yamlfix

cid(review): PASS — re-verify Ruby scaffold, trim agent memory
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Ruby scaffold 10/32 symbols, all 11 CI green, next is remaining 22 symbols
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add codec, encoding, and diagnostic functions to Ruby bridge
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add codec, encoding, and diagnostic functions to Ruby bridge
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-rb/src/lib.rs
  crates/iscc-rb/test/test_smoke.rb
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — Ruby bridge 16/32 symbols verified, fix safety comment
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  crates/iscc-rb/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test
