Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(review): NEEDS_WORK — iscc_clean empty-input regression in iscc_decompose
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 191
  .claude/context/iterations.jsonl
Due: none

cid(update-state): codec iscc_clean advance is NEEDS_WORK + unpushed at HEAD (iscc_decompose empty-input regression); CI green only on pushed tip b2f56b6
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): reject empty-cleaned codec input to close iscc_decompose regression
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): reject empty-cleaned codec input in iscc_clean
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .crap-baseline.json
  crates/iscc-lib/src/codec.rs
  crates/iscc-lib/tests/codec_clean.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — empty-cleaned iscc_clean guard closes iscc_decompose regression
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 192
  .claude/context/iterations.jsonl
Due: none

cid(update-state): CI RED on develop — iscc_clean routing regressed 2 iai benches >10% (enforcing Perf gate); reviewer missed it (mise run check skips iai)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): restore iscc_clean to zero allocation to green the Perf gate
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): make iscc_clean return Cow to cut codec-clean allocations
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .crap-baseline.json
  crates/iscc-lib/src/codec.rs
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): NEEDS_WORK + HUMAN REVIEW — four_units Perf gate regression is intrinsic to reference-correct iscc_clean; needs baseline decision
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 193
  .claude/context/iterations.jsonl
Due: none

cid(human): raise four_units iai baseline 11968->13400 (option A)
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .iai-baseline.json
Due: none

cid(human): restore reference conformance for IDv1 validation and decode prefix check
  .claude/context/issues.md
  crates/iscc-lib/src/codec.rs
  crates/iscc-lib/src/lib.rs
  crates/iscc-napi/__tests__/iscc_id_v1.test.mjs
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  crates/iscc-py/src/lib.rs
  crates/iscc-rb/src/lib.rs
  crates/iscc-rb/test/test_iscc_id.rb
  crates/iscc-wasm/README.md
  packages/go/codec.go
  packages/go/codec_test.go
  tests/test_iscc_id_v1.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(human): bump CRAP baseline for iscc_normalize 8.0->9.0 — intrinsic to IDv1 conformance restoration
  .crap-baseline.json
Due: none

Release 0.6.0
  Cargo.lock
  Cargo.toml
  Package.swift
  README.md
  crates/iscc-jni/README.md
  crates/iscc-jni/java/pom.xml
  crates/iscc-napi/package.json
  crates/iscc-rb/Gemfile.lock
  crates/iscc-rb/lib/iscc_lib/version.rb
  docs/howto/java.md
  docs/howto/kotlin.md
  docs/howto/swift.md
  docs/index.md
  docs/java-api.md
  mise.toml
  packages/cpp/conanfile.py
  packages/cpp/vcpkg.json
  packages/dotnet/Iscc.Lib/Iscc.Lib.csproj
  packages/kotlin/README.md
  packages/kotlin/gradle.properties
  packages/swift/README.md
  packages/swift/Sources/IsccLib/Constants.swift
  pyproject.toml
  scripts/test_install.py
  uv.lock
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

cid(human): add GitHub release notes as built-in release skill step (Phase 7.1)
  .claude/skills/release/SKILL.md
Due: none
