Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(advance): Create C/C++ how-to guide (issue #22)
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  docs/howto/c-cpp.md
  zensical.toml
Due: taplo

cid(review): PASS_WITH_NOTES — C/C++ howto guide with type name fixes (issue #22 resolved)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  .claude/context/specs/c-ffi-dx.md
  docs/howto/c-cpp.md
Due: none

cid(update-state): issue #22 resolved — docs/howto/c-cpp.md complete; 1 C FFI criterion + 3 issues remain
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add pre-built FFI release artifacts (issue #25)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add build-ffi and publish-ffi jobs to release workflow
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS_WITH_NOTES — FFI release artifacts with Windows shell fix (issue #25 resolved)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  .claude/context/specs/c-ffi-dx.md
  .github/workflows/release.yml
Due: yamlfix

cid(update-state): issue #25 resolved — FFI release artifacts complete; 2 issues remain (#21 units, #16 flags)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

Add Apache-2.0 LICENSE file
  LICENSE
Due: none

cid(define-next): Add units support to gen_sum_code_v0 (issue #21)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add `units` support to `gen_sum_code_v0` (issue #21)
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-ffi/src/lib.rs
  crates/iscc-jni/src/lib.rs
  crates/iscc-lib/benches/benchmarks.rs
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/types.rs
  crates/iscc-napi/src/lib.rs
  crates/iscc-py/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add LICENSE to Go package for pkg.go.dev documentation display
  packages/go/LICENSE
Due: none

cid(review): PASS — units support in Rust core (issue #21 partial)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): issue #21 partial — Rust core units done; 6 bindings still need add_units/units exposure
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Expose add_units in Python binding (issue #21)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): expose add_units param in Python binding for gen_sum_code_v0
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  crates/iscc-py/src/lib.rs
  tests/test_smoke.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS_WITH_NOTES — Python binding add_units; fix .pyi stub
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
Due: none

cid(update-state): Python binding add_units done; 5 bindings still pending for issue #21
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Expose add_units in Node.js binding (issue #21)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): expose add_units/units in Node.js NAPI binding
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-napi/__tests__/functions.test.mjs
  crates/iscc-napi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — Node.js binding add_units/units clean implementation
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): Node.js binding done; 4 bindings remain for issue #21
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Expose add_units in WASM binding (issue #21)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): expose add_units/units in WASM binding
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-wasm/src/lib.rs
  crates/iscc-wasm/tests/unit.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — WASM binding add_units/units clean implementation
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): WASM binding done; 3 bindings remain for issue #21
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Expose add_units in C FFI binding (issue #21)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): expose add_units/units in C FFI binding
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-ffi/include/iscc.h
  crates/iscc-ffi/src/lib.rs
  crates/iscc-ffi/tests/test_iscc.c
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — C FFI add_units/units clean implementation
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): C FFI add_units/units done; Java/JNI and Go remain for issue #21
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Expose add_units in Java/JNI binding (issue #21)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add addUnits/units to Java/JNI binding for genSumCodeV0
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-jni/java/src/main/java/io/iscc/iscc_lib/IsccLib.java
  crates/iscc-jni/java/src/main/java/io/iscc/iscc_lib/SumCodeResult.java
  crates/iscc-jni/java/src/test/java/io/iscc/iscc_lib/IsccLibTest.java
  crates/iscc-jni/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — JNI add_units/units clean implementation
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): Java/JNI add_units/units done; Go is the final binding for issue #21
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Expose add_units in Go binding (issue #21)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): expose add_units/units in Go binding (issue #21)
  .claude/agent-memory/advance/MEMORY-archive.md
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  packages/go/code_sum.go
  packages/go/code_sum_test.go
Due: none

cid(review): PASS — Go add_units/units complete, issue #21 resolved
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(update-state): Go add_units/units done; issue #21 resolved; docs update is next
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Update docs for 4-parameter gen_sum_code_v0
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): update docs for 4-parameter gen_sum_code_v0
  .claude/context/handoff.md
  docs/architecture.md
  docs/c-ffi-api.md
  docs/howto/c-cpp.md
  docs/howto/rust.md
  docs/rust-api.md
Due: none

cid(review): PASS — docs updated for 4-parameter gen_sum_code_v0
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none
