Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(update-state): iteration 5 — docs/howto/wasm.md package name fixed, PR #3 open, CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add Java JNI cross-platform build to release workflow
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add JNI cross-platform build and JAR assembly to release workflow
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS — JNI cross-platform build workflow verified
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): iteration 6 — JNI cross-platform build added to release.yml, CI green on develop
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add io.Reader support to Go streaming hashers
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add io.Reader support to Go streaming hashers
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  packages/go/iscc.go
  packages/go/iscc_test.go
Due: none

cid(review): PASS — Go io.Reader UpdateFrom methods verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): iteration 7 — Go io.Reader done, all 7 bindings met, CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Evaluate TypeScript port and add ecosystem docs page
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add ecosystem docs page with TypeScript port evaluation
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  docs/ecosystem.md
  zensical.toml
Due: taplo

cid(review): PASS — ecosystem docs page verified, TypeScript port issue resolved
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): iteration 8 — ecosystem docs page added, CI green at de0b17a
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Update architecture and development docs for JNI and Go bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Update architecture and development docs for JNI and Go bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  docs/architecture.md
  docs/development.md
Due: none

Add PyPI metadata and install test protocol
  crates/iscc-py/pyproject.toml
  mise.toml
  scripts/test_install.py
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

Bump version to 0.0.2
  Cargo.lock
  Cargo.toml
  crates/iscc-jni/java/pom.xml
  crates/iscc-napi/package.json
Due: taplo

Fix release workflow: crates.io token, npm provenance, macOS runner
  .github/workflows/release.yml
Due: yamlfix

Add repository field to @iscc/lib package.json for npm provenance
  crates/iscc-napi/package.json
Due: none

Read expected version from Cargo.toml in smoke test
  tests/test_smoke.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

Add iscc-sdk drop-in compatibility issues and update specs
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/specs/python-bindings.md
  .claude/context/specs/rust-core.md
  .claude/context/target.md
Due: none

Add documentation freshness checks to CID agent protocols
  .claude/agents/advance.md
  .claude/agents/define-next.md
  .claude/agents/review.md
Due: none

Integrate Codex code review into CID review agent
  .claude/agents/advance.md
  .claude/agents/define-next.md
  .claude/agents/review.md
Due: none

cid(update-state): target expanded to 30 Tier 1 symbols — 7 new missing, CI green at 4e213a5
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): add algorithm constants and Tier 1 encode_component wrapper
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add algorithm constants and Tier 1 encode_component wrapper
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — algorithm constants and encode_component wrapper
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Rust core 28/30 — 5 new symbols added, 2 remain, bindings unchanged
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): implement iscc_decode Tier 1 function
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): implement iscc_decode Tier 1 function
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — iscc_decode Tier 1 function
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

Fix review agent: wait for Codex review before writing handoff
  .claude/agents/review.md
Due: none

cid(update-state): Rust core 29/30 — iscc_decode added, json_to_data_url still missing, bindings unchanged
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): implement json_to_data_url — 30th Tier 1 symbol
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): implement json_to_data_url as 30th Tier 1 symbol
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — json_to_data_url 30th Tier 1 symbol
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(review): fix mdformat in update-state MEMORY.md
  .claude/agent-memory/update-state/MEMORY.md
Due: none

cid(update-state): Rust core 30/30 — json_to_data_url complete, 6 bindings at 23/30, CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): propagate 7 new Tier 1 symbols to Python bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): propagate 7 Tier 1 symbols to Python bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  crates/iscc-py/src/lib.rs
  tests/test_new_symbols.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest
