Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --all --
  language: system
  stages:
  - pre-commit

ruff-check:
  name: Ruff linting
  entry: uv run ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff formatting
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

taplo:
  name: TOML formatting
  entry: uv run taplo fmt
  language: system
  stages:
  - pre-commit

yamlfix:
  name: YAML formatting
  entry: uv run yamlfix
  language: system
  stages:
  - pre-commit

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: Rust tests
  entry: cargo test --workspace
  language: system
  stages:
  - pre-push
  pass_filenames: false

ty:
  name: Python type checking
  entry: uv run ty check
  language: system
  stages:
  - pre-push
  pass_filenames: false

security:
  name: Security scan (Ruff S rules)
  entry: uv run ruff check --select S --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

complexity:
  name: Complexity check (Ruff C901)
  entry: uv run ruff check --select C901 --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Python tests with coverage
  entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
  language: system
  stages:
  - pre-push
  pass_filenames: false

cid(advance): Optimize DataHasher::update buffer allocation
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/benches/benchmarks.rs
  crates/iscc-lib/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — DataHasher buffer optimization verified, issue resolved
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): DataHasher buffer optimization done, [normal] issue resolved, all 7 CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Generalize video API to accept borrowed slices
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Generalize video API to accept borrowed slices
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-ffi/src/lib.rs
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — Video API generalized to borrowed slices, FFI allocation eliminated
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): video API generalized, all [normal] FFI allocation issues resolved, CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add input validation to alg_dct and alg_wtahash
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add input validation to alg_dct and alg_wtahash
  .claude/context/handoff.md
  crates/iscc-lib/src/dct.rs
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/wtahash.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — alg_dct and alg_wtahash input validation
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): alg_dct/alg_wtahash validation landed, 269 tests, CI green (7/7)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add __version__ attribute and fix iscc-py module docstring
  .claude/context/next.md
Due: none

cid(advance): add __version__ attribute and fix iscc-py module docstring
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  crates/iscc-py/src/lib.rs
  tests/test_smoke.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS — __version__ attribute and module docstring fix
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

Add Go, WASM targets, wasm-pack, and cbindgen to devcontainer
  .devcontainer/Dockerfile
  mise.toml
Due: taplo

docs(readme): add DeepWiki badge
  README.md
Due: none

cid(update-state): iscc-py __version__/docstring resolved, CI green (7/7), only [low] issues remain
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Gate iscc-wasm conformance_selftest behind Cargo feature
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): gate iscc-wasm conformance_selftest behind Cargo feature
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/ci.yml
  crates/iscc-wasm/Cargo.toml
  crates/iscc-wasm/src/lib.rs
  crates/iscc-wasm/tests/unit.rs
Due: cargo-fmt, taplo, yamlfix, cargo-clippy, cargo-test

cid(review): PASS — conformance feature gate for iscc-wasm
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

Update CI/CD spec with release protocol and file release issues
  .claude/context/issues.md
  .claude/context/specs/ci-cd.md
Due: none

cid(update-state): WASM conformance gate resolved; two [critical] release.yml issues drive next milestone
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add selective publishing inputs to release.yml
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Add selective publishing inputs to release.yml
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS — selective publishing inputs in release.yml
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/specs/ci-cd.md
  .devcontainer/init-host.sh
  .devcontainer/setup-codex.sh
Due: none

Add Codex CLI to devcontainer with host auth passthrough
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Update CID iteration log with review cost data
  .claude/context/iterations.jsonl
Due: none

cid(update-state): selective publishing resolved; [critical] idempotency checks remain
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add idempotency checks to release publish jobs
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Add idempotency checks to release publish jobs
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS — idempotency checks for release publish jobs
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/specs/ci-cd.md
Due: none

Set up develop branch workflow with main branch protection
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agents/update-state.md
  .claude/context/learnings.md
  .github/workflows/ci.yml
  CLAUDE.md
  mise.toml
Due: taplo, yamlfix

Update CID iteration log with review iteration 24 cost data
  .claude/context/iterations.jsonl
Due: none

Update ci-cd spec to reflect develop branch workflow
  .claude/context/specs/ci-cd.md
Due: none

cid(update-state): iteration 25 — [critical] idempotency resolved, [normal] version sync next
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Create version sync tooling
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): create version sync tooling
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-jni/java/pom.xml
  crates/iscc-napi/package.json
  mise.toml
  scripts/version_sync.py
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

cid(review): PASS — version sync tooling verified, issue resolved
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/specs/ci-cd.md
  scripts/version_sync.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(update-state): iteration 26 — [normal] version sync resolved, only [low] issues remain
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): JNI IllegalStateException for finalized hashers
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  taplo: any of: \.toml$
  yamlfix: any of: \.(yaml|yml)$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ty: any of: \.py$
  security: any of: \.py$
  complexity: any of: \.py$
  pytest: any of: \.py$
