Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --all --
  language: system
  stages:
  - pre-commit

ruff-check:
  name: Ruff linting
  entry: uv run ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff formatting
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

taplo:
  name: TOML formatting
  entry: uv run taplo fmt
  language: system
  stages:
  - pre-commit

yamlfix:
  name: YAML formatting
  entry: uv run yamlfix
  language: system
  stages:
  - pre-commit

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: Rust tests
  entry: cargo test --workspace
  language: system
  stages:
  - pre-push
  pass_filenames: false

ty:
  name: Python type checking
  entry: uv run ty check
  language: system
  stages:
  - pre-push
  pass_filenames: false

security:
  name: Security scan (Ruff S rules)
  entry: uv run ruff check --select S --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

complexity:
  name: Complexity check (Ruff C901)
  entry: uv run ruff check --select C901 --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Python tests with coverage
  entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
  language: system
  stages:
  - pre-push
  pass_filenames: false

cid(define-next): Add DataHasher/InstanceHasher streaming classes to WASM bindings
  .claude/context/next.md
Due: none

cid(advance): add DataHasher/InstanceHasher streaming classes to WASM bindings
  .claude/context/handoff.md
  crates/iscc-wasm/src/lib.rs
  crates/iscc-wasm/tests/unit.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — WASM bindings at 23/23 Tier 1 parity
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

Add CID orchestrator agent and redesign update-state agent
  .claude/agents/orchestrator.md
  .claude/agents/update-state.md
  mise.toml
  tools/cid.py
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

Update iteration log with review entry for iteration 8
  .claude/context/iterations.jsonl
Due: none

cid(update-state): WASM at 23/23 (incl. streaming hashers), C FFI still at 21/23
  .claude/context/state.md
Due: none

cid(define-next): Add DataHasher/InstanceHasher opaque pointer FFI to C bindings
  .claude/context/next.md
Due: none

cid(advance): add DataHasher/InstanceHasher streaming FFI to C bindings
  .claude/context/handoff.md
  crates/iscc-ffi/src/lib.rs
  crates/iscc-ffi/tests/test_iscc.c
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — C FFI at 23/23, all binding targets at full Tier 1 parity
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): C FFI at 23/23, all binding targets at full Tier 1 parity, CI green
  .claude/context/state.md
Due: none

cid(define-next): Add ISCC brand colors, logo, and favicon to documentation site
  .claude/context/next.md
Due: none

cid(advance): add ISCC brand colors, logo, and favicon to documentation site
  .claude/context/handoff.md
  docs/assets/favicon.png
  docs/assets/logo_light.png
  docs/stylesheets/extra.css
  zensical.toml
Due: taplo

cid(review): PASS — ISCC brand colors, logo, and favicon added to documentation site
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): ISCC branding complete, docs partially met, CI green on all 5 jobs
  .claude/context/state.md
Due: none

cid(define-next): Add copy-page split-button and llms-full.txt generation
  .claude/context/next.md
Due: none

cid(advance): add copy-page split-button and llms-full.txt generation
  .claude/context/handoff.md
  .github/workflows/docs.yml
  docs/javascripts/copypage.js
  docs/llms.txt
  docs/stylesheets/extra.css
  scripts/gen_llms_full.py
  zensical.toml
Due: ruff-check, ruff-format, taplo, yamlfix, ty, security, complexity, pytest

cid(review): PASS_WITH_NOTES — copy-page split-button and llms-full.txt generation
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  docs/llms.txt
Due: none

cid(update-state): copy-page and llms-full.txt complete, Diátaxis nav and OIDC remaining
  .claude/context/state.md
Due: none

cid(define-next): Add Open Graph and Twitter Card social meta tags
  .claude/context/next.md
Due: none

cid(advance): add Open Graph and Twitter Card social meta tags
  .claude/context/handoff.md
  overrides/main.html
  zensical.toml
Due: taplo

cid(review): PASS — Open Graph and Twitter Card social meta tags
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): social meta tags complete, Diátaxis nav and abbreviations remaining
  .claude/context/state.md
Due: none

cid(define-next): Restructure documentation navigation into Diataxis categories
  .claude/context/next.md
Due: none

cid(advance): restructure docs nav into Diataxis categories with per-language how-to guides
  .claude/context/handoff.md
  docs/howto/nodejs.md
  docs/howto/python.md
  docs/howto/wasm.md
  zensical.toml
Due: taplo

fix(meta): use RFC 8785 (JCS) for JSON metadata canonicalization
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  .claude/context/state.md
  Cargo.lock
  Cargo.toml
  crates/iscc-lib/CLAUDE.md
  crates/iscc-lib/Cargo.toml
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

fix: correct file modes for markdown files (100755 → 100644)
  .claude/skills/docs-for-agents/SKILL.md
  .claude/skills/zensical-customizer/SKILL.md
  .claude/skills/zensical-customizer/references/javascript.md
  .claude/skills/zensical-customizer/references/project-setup.md
  .claude/skills/zensical-customizer/references/templates.md
Due: none

fix: add .claude/settings.local.json to .gitignore
  .gitignore
Due: none

feat(cid): add issues.md for ad-hoc issue tracking in CID workflow
  .claude/agents/advance.md
  .claude/agents/define-next.md
  .claude/agents/orchestrator.md
  .claude/agents/review.md
  .claude/context/issues.md
Due: none

feat(cid): add Spec field for source-based target.md update authority
  .claude/agents/review.md
  .claude/context/issues.md
Due: none

feat(cid): add working modes section with interactive session guidelines
  CLAUDE.md
Due: none

feat(cid): add Upstream field for human-gated iscc-core issue filing
  .claude/agents/advance.md
  .claude/agents/review.md
  .claude/context/issues.md
  CLAUDE.md
Due: none

feat(cid): add 11 issues from static code review of iscc-lib
  .claude/context/issues.md
Due: none

cid(update-state): Diátaxis nav done, 3 howto guides added, JCS fix landed; tutorials/CNAME/abbreviations/Rust howto/OIDC remaining
  .claude/context/state.md
Due: none

cid(define-next): fix alg_cdc_chunks infinite loop when utf32=true
  .claude/context/next.md
Due: none

cid(advance): fix alg_cdc_chunks infinite loop when utf32=true
  .claude/context/handoff.md
  crates/iscc-lib/src/cdc.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): pass — fix alg_cdc_chunks utf32 infinite loop verified
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

Add pre-format step and fix code fence language tags
  .claude/skills/zensical-customizer/SKILL.md
  .claude/skills/zensical-customizer/references/javascript.md
  .claude/skills/zensical-customizer/references/templates.md
  CLAUDE.md
  mise.toml
  notes/06-build-cicd-publishing.md
  notes/07-security-versioning.md
Due: taplo

cid(update-state): alg_cdc_chunks fix verified, CI green, doc gaps remain
  .claude/context/state.md
Due: none

cid(define-next): harden iscc_decompose against truncated input
  .claude/context/next.md
Due: none

Bump performance issues from low to normal priority
  .claude/context/issues.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  taplo: any of: \.toml$
  yamlfix: any of: \.(yaml|yml)$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ty: any of: \.py$
  security: any of: \.py$
  complexity: any of: \.py$
  pytest: any of: \.py$
