Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --all --
  language: system
  stages:
  - pre-commit

ruff-check:
  name: Ruff linting
  entry: uv run ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff formatting
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

taplo:
  name: TOML formatting
  entry: uv run taplo fmt
  language: system
  stages:
  - pre-commit

yamlfix:
  name: YAML formatting
  entry: uv run yamlfix
  language: system
  stages:
  - pre-commit

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: Rust tests
  entry: cargo test --workspace
  language: system
  stages:
  - pre-push
  pass_filenames: false

ty:
  name: Python type checking
  entry: uv run ty check
  language: system
  stages:
  - pre-push
  pass_filenames: false

security:
  name: Security scan (Ruff S rules)
  entry: uv run ruff check --select S --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

complexity:
  name: Complexity check (Ruff C901)
  entry: uv run ruff check --select C901 --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Python tests with coverage
  entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
  language: system
  stages:
  - pre-push
  pass_filenames: false

spec(ruby): add code quality & linting section with Standard Ruby
  .claude/context/specs/ruby-bindings.md
Due: none

cid(update-state): Ruby bridge 16/32 symbols, Standard Ruby linting gap identified, all 11 CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add gen_text/image/audio_code_v0 to Ruby bridge
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add gen_text/image/audio_code_v0 to Ruby bridge
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-rb/lib/iscc_lib.rb
  crates/iscc-rb/src/lib.rs
  crates/iscc-rb/test/test_smoke.rb
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — Ruby bridge 19/32 symbols, gen_text/image/audio verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

Add C#, C++, Swift, Kotlin binding targets and issues
  .claude/context/issues.md
  .claude/context/target.md
Due: none

cid(update-state): Ruby 19/32 symbols, 4 new binding targets added (C#, C++, Swift, Kotlin), CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add gen_video/mixed/data_code_v0 to Ruby bridge
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add gen_video/mixed/data_code_v0 to Ruby bridge (22/32)
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-rb/lib/iscc_lib.rb
  crates/iscc-rb/src/lib.rs
  crates/iscc-rb/test/test_smoke.rb
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — Ruby bridge 22/32 symbols, gen_video/mixed/data verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

Extract binding specs from target.md into separate spec files
  .claude/context/specs/cpp-bindings.md
  .claude/context/specs/dotnet-bindings.md
  .claude/context/specs/go-bindings.md
  .claude/context/specs/java-bindings.md
  .claude/context/specs/kotlin-bindings.md
  .claude/context/specs/nodejs-bindings.md
  .claude/context/specs/swift-bindings.md
  .claude/context/specs/wasm-bindings.md
  .claude/context/target.md
Due: none

Update CID agent memory and iteration log
  .claude/agent-memory/review/MEMORY.md
  .claude/context/iterations.jsonl
Due: none

Exclude low-priority issues from CID loop
  .claude/agents/define-next.md
  .claude/context/issues.md
Due: none

cid(update-state): Ruby 22/32 symbols, all 11 CI green (run 22639088838)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add gen_instance/iscc/sum_code_v0 to Ruby bridge
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add gen_instance/iscc/sum_code_v0 to Ruby bridge
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-rb/lib/iscc_lib.rb
  crates/iscc-rb/src/lib.rs
  crates/iscc-rb/test/test_smoke.rb
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — gen_instance/iscc/sum_code_v0 in Ruby bridge
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Ruby 25/32 symbols (all 10 gen fns done), 37 tests, CI green (run 22640865894)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add 5 algorithm primitives to Ruby bridge
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add 5 algorithm primitives to Ruby bridge (25→30/32)
  .claude/context/handoff.md
  crates/iscc-rb/src/lib.rs
  crates/iscc-rb/test/test_smoke.rb
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — 5 algorithm primitives in Ruby bridge (25→30/32)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): Ruby 30/32 symbols (5 algo primitives done), 46 tests, CI green (run 22642920793)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add DataHasher and InstanceHasher streaming types to Ruby bridge
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add DataHasher and InstanceHasher streaming types to Ruby bridge
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-rb/lib/iscc_lib.rb
  crates/iscc-rb/src/lib.rs
  crates/iscc-rb/test/test_iscc_lib.rb
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — DataHasher/InstanceHasher streaming types complete (32/32 Ruby symbols)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): Ruby 32/32 symbols complete (DataHasher+InstanceHasher), CI green (run 22645106695)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add Ruby conformance tests against data.json
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add Ruby conformance tests against data.json (50 vectors)
  .claude/context/handoff.md
  crates/iscc-rb/test/test_conformance.rb
Due: none

cid(review): PASS — Ruby conformance tests verified, fix sort_keys no-op
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/learnings.md
  crates/iscc-rb/test/test_conformance.rb
Due: none

cid(update-state): Ruby conformance tests done (111 tests, 295 assertions); CI green run 22646899223
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add Ruby CI job to ci.yml
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add Ruby CI job to ci.yml
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/ci.yml
Due: yamlfix

cid(review): PASS — Ruby CI job verified, all criteria met
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Ruby CI job added; 12 jobs all green (run 22647363116)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add Ruby gemspec version to version_sync.py
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add Ruby version.rb to version_sync.py
  .claude/context/handoff.md
  scripts/version_sync.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — Ruby version sync verified, all criteria met
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): iter 10 — Ruby version sync complete; 12 CI jobs green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add RubyGems publish step to release.yml
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add RubyGems publish step to release.yml
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

Path conditions:
  cargo-fmt: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  taplo: any of: \.toml$
  yamlfix: any of: \.(yaml|yml)$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ty: any of: \.py$
  security: any of: \.py$
  complexity: any of: \.py$
  pytest: any of: \.py$
