Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(advance): add release smoke tests for all binding pipelines
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS_WITH_NOTES — release smoke tests verified, issue resolved
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): all normal-priority gaps resolved; 6 smoke tests verified in release.yml
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): CID loop idle — no actionable work remains
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): acknowledge idle state — no actionable work remains
  .claude/context/handoff.md
Due: none

cid(review): PASS — idle iteration, all normal-priority work complete
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): idle iter 5 — no codebase changes, CI green (run 22666893212)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): CID loop idle — no actionable work remains
  .claude/context/next.md
Due: none

cid(review): PASS — idle iteration 3/3, recommend stopping CID loop
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): idle iter 6 — no codebase changes, CI green (run 22667738685)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(advance): acknowledge idle state — 4th consecutive idle iteration
  .claude/context/handoff.md
Due: none

cid(review): PASS — idle iteration 4/4, stop CID loop
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): idle iter 7 — no codebase changes, CI green (run 22668622839)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(advance): acknowledge idle state — 5th consecutive idle iteration
  .claude/context/handoff.md
Due: none

cid(review): PASS — idle iteration 5/5, stop CID loop
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): idle iter 8 — no codebase changes, CI green (run 22669472925)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(advance): acknowledge idle state — iteration 8, no actionable work
  .claude/context/handoff.md
Due: none

cid(review): PASS — idle iteration 6/6, stop CID loop
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

Add idle detection to CID loop runner
  .claude/agents/review.md
  tools/cid.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

Update CID iteration log with iteration 8 review entry
  .claude/context/iterations.jsonl
Due: none

Release 0.2.0
  Cargo.lock
  Cargo.toml
  README.md
  crates/iscc-jni/README.md
  crates/iscc-jni/java/pom.xml
  crates/iscc-napi/package.json
  crates/iscc-rb/Gemfile.lock
  crates/iscc-rb/lib/iscc_lib/version.rb
  docs/howto/java.md
  docs/java-api.md
  mise.toml
  pyproject.toml
  scripts/test_install.py
  uv.lock
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

Fix PyPI and RubyGems release pipelines
  .github/workflows/release.yml
Due: yamlfix

Fix release pipeline: pin interpreter, enable cross-compile
  .github/workflows/release.yml
  crates/iscc-rb/Rakefile
Due: yamlfix

Pin rb-sys to 0.9.123 to avoid Ruby 4.0 build tool
  .github/workflows/release.yml
  crates/iscc-rb/Gemfile.lock
  crates/iscc-rb/Rakefile
Due: yamlfix

Fix Ruby gem cross-compilation: bypass broken version resolution
  .github/workflows/release.yml
Due: yamlfix

Fix Ruby gem build: symlink Gemfile.lock for version detection
  .github/workflows/release.yml
Due: yamlfix

Fix Ruby cross-compilation: pass gemspec to ExtensionTask
  crates/iscc-rb/Rakefile
Due: none

Fix Ruby native extension loading for precompiled gems
  crates/iscc-rb/lib/iscc_lib.rb
Due: none

Switch RubyGems publish to OIDC trusted publishing
  .github/workflows/release.yml
Due: yamlfix

Document Ruby cross-compilation learnings from v0.2.0 release
  .claude/context/learnings.md
  .claude/skills/release/SKILL.md
  CLAUDE.md
  crates/iscc-rb/CLAUDE.md
Due: none

Bump C#/.NET bindings issue priority from low to normal
  .claude/context/issues.md
Due: none

cid(update-state): C#/.NET elevated to normal priority; v0.2.0 released; CI green (run 22708331786)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): .NET project scaffold with ConformanceSelftest P/Invoke
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): .NET project scaffold with ConformanceSelftest P/Invoke
  .claude/agent-memory/advance/MEMORY-archive.md
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .devcontainer/Dockerfile
  packages/dotnet/Iscc.Lib.Tests/Iscc.Lib.Tests.csproj
  packages/dotnet/Iscc.Lib.Tests/SmokeTests.cs
  packages/dotnet/Iscc.Lib/Iscc.Lib.csproj
  packages/dotnet/Iscc.Lib/IsccLib.cs
Due: none

cid(review): .NET scaffold PASS — all verification criteria met
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): .NET scaffold committed; 12 CI green; csbindgen P/Invoke next
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none
