Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

Fix release reproducibility: workflow creates tag after Package.swift update
  .claude/skills/release/SKILL.md
  .github/workflows/release.yml
Due: yamlfix

Release 0.4.0
  Cargo.lock
  Cargo.toml
  Package.swift
  README.md
  crates/iscc-jni/README.md
  crates/iscc-jni/java/pom.xml
  crates/iscc-napi/package.json
  crates/iscc-rb/Gemfile.lock
  crates/iscc-rb/lib/iscc_lib/version.rb
  docs/howto/java.md
  docs/java-api.md
  mise.toml
  packages/cpp/conanfile.py
  packages/cpp/vcpkg.json
  packages/dotnet/Iscc.Lib/Iscc.Lib.csproj
  packages/kotlin/gradle.properties
  packages/swift/Sources/IsccLib/Constants.swift
  pyproject.toml
  scripts/test_install.py
  uv.lock
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

Fix build_xcframework.sh executable permission
  scripts/build_xcframework.sh
Due: none

Fix Kotlin Maven Central publish: use gpg command for signing
  .github/workflows/release.yml
  packages/kotlin/build.gradle.kts
Due: yamlfix

Fix stale 0.3.1 versions in docs and add missing sync targets
  README.md
  docs/howto/kotlin.md
  docs/howto/swift.md
  docs/index.md
  packages/swift/README.md
  scripts/version_sync.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

docs: add feature flags documentation for Rust crate
  crates/iscc-lib/README.md
  docs/howto/rust.md
Due: none

chore: update CID iterations log
  .claude/context/iterations.jsonl
Due: none

docs(cid): enforce Rust core backward-compat + performance
  .claude/agents/advance.md
  .claude/agents/define-next.md
  .claude/agents/review.md
  .claude/agents/update-state.md
  .claude/context/issues.md
  .claude/context/specs/ci-cd.md
  .claude/context/specs/rust-core.md
  .claude/context/target.md
Due: none

docs(cid): reconcile API-stability docs and tier policy
  .claude/agents/review.md
  .claude/context/issues.md
  notes/04-api-compatibility-safety.md
Due: none

fix(devcontainer): isolate Codex state on a native volume
  .devcontainer/devcontainer.json
  .devcontainer/setup-codex.sh
Due: none

chore: add address-feedback, high-stakes, systems skills
  .claude/skills/address-feedback/SKILL.md
  .claude/skills/address-feedback/references/triage-playbook.md
  .claude/skills/high-stakes/SKILL.md
  .claude/skills/high-stakes/references/workflow-template.md
  .claude/skills/systems-thinking/SKILL.md
  .claude/skills/systems-thinking/references/systems-field-guide.md
Due: none

fix(devcontainer): invoke setup scripts via bash, decouple codex seeding
  .claude/context/learnings.md
  .devcontainer/devcontainer.json
  .devcontainer/setup-codex.sh
Due: none

feat(cid): add meta-improve role with runner-enforced safety
  .claude/agent-memory/meta-improve/MEMORY.md
  .claude/agents/meta-improve.md
  .claude/agents/orchestrator.md
  .claude/agents/review.md
  .claude/context/README.md
  CLAUDE.md
  docs/development.md
  mise.toml
  pyproject.toml
  tests/test_cid.py
  tools/cid.py
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

docs(cid): triage GitHub issues into context
  .claude/context/issues.md
  .claude/context/specs/nodejs-bindings.md
  .claude/context/specs/python-bindings.md
  .claude/context/specs/wasm-bindings.md
Due: none

fix(mise): migrate task args to usage spec, drop deprecated Tera funcs
  mise.toml
Due: taplo

cid(update-state): v0.4.0 shipped, 7 new normal issues toward v1.0.0; CI green 16/16
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): narrow internal module visibility to pub(crate)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(log): iteration 86
  .claude/context/iterations.jsonl
Due: none

cid(advance): narrow 5 internal modules to pub(crate), drop redundant module-path tests
  crates/iscc-lib/CLAUDE.md
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/tests/test_algorithm_primitives.rs
  crates/iscc-lib/tests/test_text_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(log): iteration 87
  .claude/context/iterations.jsonl
Due: none

cid(update-state): module visibility narrowed to pub(crate); 7 local commits unpushed/unverified
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): add core streaming::SumHasher and drive gen_sum_code_v0 from it
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add core streaming::SumHasher and drive gen_sum_code_v0 from it
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS core SumHasher refactor; sweep stale module-visibility issue
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 88
  .claude/context/iterations.jsonl
Due: none

cid(update-state): core SumHasher added & CI-verified green 16/16; 9 issues open
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): add streaming SumHasher to the Python bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add streaming SumHasher to Python bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-py/CLAUDE.md
  crates/iscc-py/README.md
  crates/iscc-py/python/iscc_lib/__init__.py
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  crates/iscc-py/src/lib.rs
  docs/howto/python.md
  tests/test_streaming.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS Python SumHasher binding; rescope #37 to WASM-only
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
  docs/howto/python.md
Due: none

cid(log): iteration 89
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Python SumHasher landed & CI green 16/16; #37 now WASM-only
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add streaming SumHasher to the WASM bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add streaming SumHasher to WASM bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-wasm/CLAUDE.md
  crates/iscc-wasm/src/lib.rs
  crates/iscc-wasm/tests/unit.rs
  docs/howto/wasm.md
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS WASM SumHasher; #37 fully closed across all bindings
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/specs/wasm-bindings.md
  crates/iscc-wasm/CLAUDE.md
Due: none

cid(log): iteration 90
  .claude/context/iterations.jsonl
Due: none

cid(update-state): WASM SumHasher landed; #37 fully closed; CI green 16/16; 8 issues open
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Release the GIL during Python hashing (#39)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): release the GIL during Python hashing (issue #39)
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-py/src/lib.rs
  tests/test_gil.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS GIL release for Python hashing; #39 closed
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
  .claude/context/next.md
  .claude/context/specs/python-bindings.md
Due: none

cid(log): iteration 91
  .claude/context/iterations.jsonl
Due: none
