Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --all --
  language: system
  stages:
  - pre-commit

ruff-check:
  name: Ruff linting
  entry: uv run ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff formatting
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

taplo:
  name: TOML formatting
  entry: uv run taplo fmt
  language: system
  stages:
  - pre-commit

yamlfix:
  name: YAML formatting
  entry: uv run yamlfix
  language: system
  stages:
  - pre-commit

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: Rust tests
  entry: cargo test --workspace
  language: system
  stages:
  - pre-push
  pass_filenames: false

ty:
  name: Python type checking
  entry: uv run ty check
  language: system
  stages:
  - pre-push
  pass_filenames: false

security:
  name: Security scan (Ruff S rules)
  entry: uv run ruff check --select S --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

complexity:
  name: Complexity check (Ruff C901)
  entry: uv run ruff check --select C901 --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Python tests with coverage
  entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
  language: system
  stages:
  - pre-push
  pass_filenames: false

cid(advance): harden iscc_decompose against truncated input
  .claude/context/handoff.md
  crates/iscc-lib/src/codec.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): pass — iscc_decompose truncation hardening verified
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): iscc_decompose truncation hardened, CI green, doc gaps remain
  .claude/context/state.md
Due: none

cid(define-next): validate Content-Code length in soft_hash_codes_v0
  .claude/context/next.md
Due: none

cid(advance): validate Content-Code length in soft_hash_codes_v0
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): pass — soft_hash_codes_v0 length validation verified
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): soft_hash_codes_v0 length validation verified, CI green, doc gaps remain
  .claude/context/state.md
Due: none

cid(define-next): fix gen_meta_code_v0 empty Data-URL payload routing
  .claude/context/next.md
Due: none

cid(advance): fix gen_meta_code_v0 empty Data-URL payload routing
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): pass — empty Data-URL payload routing fix verified
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

Add README spec and Development docs section to target
  .claude/context/specs/documentation.md
  .claude/context/target.md
Due: none

cid(update-state): empty Data-URL fix merged; README and Development docs section now required
  .claude/context/state.md
Due: none

cid(define-next): create Development documentation page
  .claude/context/next.md
Due: none

cid(advance): add Development documentation page
  .claude/context/handoff.md
  docs/development.md
  zensical.toml
Due: taplo

cid(review): pass — Development docs page verified, added missing release.yml to tree
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  docs/development.md
Due: none

cid(update-state): Development docs page verified, README rewrite is top priority
  .claude/context/state.md
Due: none

cid(define-next): rewrite README as public-facing polyglot introduction
  .claude/context/next.md
Due: none

Add nav icon requirement to documentation spec
  .claude/context/specs/documentation.md
Due: none

cid(advance): rewrite README as public-facing polyglot introduction
  .claude/context/handoff.md
  README.md
Due: none

cid(review): pass — README rewrite verified, minor em dash fix
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  README.md
Due: none

cid(update-state): README rewrite verified complete; documentation gaps remain (nav icons, tutorials, Rust howto, abbreviations, CNAME)
  .claude/context/state.md
Due: none

Track branciard/iscc-core-ts evaluation as low-priority issue
  .claude/context/issues.md
Due: none

cid(define-next): add abbreviations file, CNAME, and snippets config
  .claude/context/next.md
Due: none

cid(advance): add abbreviations, CNAME, and snippets config
  .claude/context/handoff.md
  docs/CNAME
  docs/includes/abbreviations.md
  zensical.toml
Due: taplo

cid(review): pass — abbreviations, CNAME, and snippets config verified
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): abbreviations/CNAME/snippets verified; nav icons, tutorials, Rust howto remain
  .claude/context/state.md
Due: none

cid(define-next): add tutorials getting-started guide
  .claude/context/next.md
Due: none

cid(advance): add tutorials getting-started guide
  .claude/context/handoff.md
  docs/tutorials/getting-started.md
  zensical.toml
Due: taplo

cid(review): pass — tutorials getting-started guide verified
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): tutorials page verified complete; nav icons and Rust howto remain
  .claude/context/state.md
Due: none

cid(define-next): optimize sliding_window with zero-copy string slices
  .claude/context/next.md
Due: none

cid(advance): optimize sliding_window with zero-copy string slices
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/simhash.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): pass — sliding_window zero-copy optimization verified
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): sliding_window_strs optimization verified; nav icons and Rust howto remain
  .claude/context/state.md
Due: none

cid(define-next): add Rust how-to guide
  .claude/context/next.md
Due: none

cid(advance): add Rust how-to guide
  .claude/context/handoff.md
  docs/howto/rust.md
  zensical.toml
Due: taplo

cid(review): pass — Rust how-to guide verified
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  docs/howto/rust.md
Due: none

cid(update-state): Rust how-to guide verified complete; only nav icons remain
  .claude/context/state.md
Due: none

cid(define-next): add nav icons to all docs pages
  .claude/context/next.md
Due: none

cid(advance): Add nav icons and descriptions to all docs pages
  .claude/context/handoff.md
  docs/api.md
  docs/architecture.md
  docs/benchmarks.md
  docs/development.md
  docs/howto/nodejs.md
  docs/howto/python.md
  docs/howto/rust.md
  docs/howto/wasm.md
  docs/index.md
  docs/rust-api.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  taplo: any of: \.toml$
  yamlfix: any of: \.(yaml|yml)$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ty: any of: \.py$
  security: any of: \.py$
  complexity: any of: \.py$
  pytest: any of: \.py$
