Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(review): pass — nav icons added to all docs pages
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): documentation fully met; two normal robustness issues remain
  .claude/context/state.md
Due: none

cid(define-next): harden alg_simhash — return IsccResult on mismatched digests
  .claude/context/next.md
Due: none

cid(advance): harden alg_simhash with digest-length validation
  .claude/context/handoff.md
  crates/iscc-ffi/src/lib.rs
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/simhash.rs
  crates/iscc-lib/tests/test_algorithm_primitives.rs
  crates/iscc-napi/src/lib.rs
  crates/iscc-py/src/lib.rs
  crates/iscc-wasm/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): pass — alg_simhash hardened with digest-length validation
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): alg_simhash hardened; sliding_window panic remains next priority
  .claude/context/state.md
Due: none

cid(define-next): harden sliding_window — return IsccResult on width < 2
  .claude/context/next.md
Due: none

cid(advance): harden sliding_window — return IsccResult on width < 2
  .claude/context/handoff.md
  crates/iscc-ffi/src/lib.rs
  crates/iscc-lib/src/simhash.rs
  crates/iscc-lib/tests/test_algorithm_primitives.rs
  crates/iscc-napi/src/lib.rs
  crates/iscc-py/src/lib.rs
  crates/iscc-wasm/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add Java/Maven Central bindings to target
  .claude/context/specs/documentation.md
  .claude/context/target.md
Due: none

cid(review): pass — sliding_window returns IsccResult instead of panicking
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): sliding_window hardened; Java bindings target added but not started
  .claude/context/state.md
Due: none

cid(define-next): create iscc-jni JNI bridge crate scaffold
  .claude/context/next.md
Due: none

cid(advance): create iscc-jni JNI bridge crate scaffold
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-jni/Cargo.toml
  crates/iscc-jni/src/lib.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): pass — iscc-jni JNI bridge crate scaffold
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): iscc-jni scaffold in place; 1/23 JNI symbols; CI green
  .claude/context/state.md
Due: none

cid(define-next): implement all 22 remaining JNI bridge functions
  .claude/context/next.md
Due: none

Prepare v0.0.1 experimental release across all packages
  .claude/context/learnings.md
  .claude/context/target.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/iscc-napi/package.json
  docs/index.md
Due: taplo

cid(advance): implement all 22 remaining JNI bridge functions
  .claude/context/handoff.md
  crates/iscc-jni/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add readme path to iscc-lib crate manifest for crates.io
  crates/iscc-lib/Cargo.toml
Due: taplo

cid(review): pass — JNI bridge 23/23 Tier 1 symbols complete
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): JNI bridge 23/23 complete; Java wrapper/build/tests still pending; CI green
  .claude/context/state.md
Due: none

cid(define-next): create Java wrapper class and Maven build config
  .claude/context/next.md
Due: none

cid(advance): Create Java wrapper class and Maven build config
  .claude/context/handoff.md
  .devcontainer/Dockerfile
  crates/iscc-jni/java/pom.xml
  crates/iscc-jni/java/src/main/java/io/iscc/iscc_lib/IsccLib.java
Due: none

cid(review): pass — Java wrapper class and Maven build config
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

Add per-agent persistent memory to CID agents
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agents/advance.md
  .claude/agents/define-next.md
  .claude/agents/review.md
  .claude/agents/update-state.md
  CLAUDE.md
Due: none

Add DX-first principle and Go bindings spec to target
  .claude/context/iterations.jsonl
  .claude/context/specs/ci-cd.md
  .claude/context/target.md
Due: none

cid(update-state): Java wrapper+Maven in place; Go bindings and per-crate READMEs not started; CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): create Java conformance tests
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Create Java conformance tests for all 9 gen_*_v0 JNI functions
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-jni/java/pom.xml
  crates/iscc-jni/java/src/test/java/io/iscc/iscc_lib/IsccLibTest.java
Due: none

cid(review): PASS — Java conformance tests clean, removed unused JsonNull import
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  crates/iscc-jni/java/src/test/java/io/iscc/iscc_lib/IsccLibTest.java
Due: none

cid(update-state): Java conformance tests complete (46/46); CI job still missing; CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): add Java CI job
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add Java CI job to workflow
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/ci.yml
Due: yamlfix

cid(review): PASS — Java CI job clean and complete
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Java CI job green (6/6 jobs passing); native loader, Go bindings, per-crate READMEs pending
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): create per-crate READMEs (batch 1)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Add per-crate READMEs for iscc-lib, iscc-py, and iscc-napi
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  crates/iscc-lib/Cargo.toml
  crates/iscc-lib/README.md
  crates/iscc-napi/README.md
  crates/iscc-py/README.md
  crates/iscc-py/pyproject.toml
Due: taplo

cid(review): PASS — per-crate READMEs batch 1 clean
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): batch 1 per-crate READMEs complete (iscc-lib, iscc-py, iscc-napi); CI green 6/6
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): create per-crate READMEs (batch 2: iscc-wasm, iscc-jni)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none
