Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(define-next): Add npm publishing jobs to release workflow
  .claude/context/next.md
Due: none

cid(advance): add npm publishing jobs to release workflow
  .claude/context/handoff.md
  .github/workflows/release.yml
  crates/iscc-napi/package.json
Due: yamlfix

cid(review): npm publishing jobs verified — PASS, all criteria met
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): feature-complete, only docs deploy blocked on Pages enablement
  .claude/context/state.md
Due: none

cid(define-next): Make docs workflow green without Pages enabled
  .claude/context/next.md
Due: none

cid(advance): split docs workflow into build + deploy jobs
  .claude/context/handoff.md
  .github/workflows/docs.yml
Due: yamlfix

cid(review): docs workflow split — PASS
  .claude/context/handoff.md
Due: none

cid(update-state): all CI green including docs deploy — status DONE
  .claude/context/state.md
Due: none

Bump Node to 22 for npm trusted publishing, update CID context
  .claude/context/handoff.md
  .claude/context/state.md
  .github/workflows/release.yml
Due: yamlfix

Add detailed specs for Python API compatibility and documentation
  .claude/context/handoff.md
  .claude/context/specs/documentation.md
  .claude/context/specs/python-bindings.md
  .claude/context/state.md
  .claude/context/target.md
Due: none

Add iscc-core reference checkout and expanded Rust core spec
  .claude/context/handoff.md
  .claude/context/specs/rust-core.md
  .claude/context/state.md
  .claude/context/target.md
  .devcontainer/devcontainer.json
  .gitignore
  CLAUDE.md
Due: none

Sync architecture notes with expanded Tier 1 API surface
  notes/00-overview.md
  notes/01-workspace-structure.md
  notes/02-language-bindings.md
  notes/03-async-and-streaming.md
  notes/04-api-compatibility-safety.md
  notes/07-security-versioning.md
  notes/09-performance-benchmarks.md
Due: none

Add structured iteration log to CID orchestrator
  mise.toml
  tools/cid.py
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

Pause CID loop when review agent requests human review
  tools/cid.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(update-state): CI green, 3 areas remain — structured returns, Python compat, doc branding
  .claude/context/state.md
Due: none

cid(define-next): add structured result types for all 9 gen functions
  .claude/context/next.md
Due: none

Improve CID agent prompts for accuracy and efficiency
  .claude/agents/advance.md
  .claude/agents/define-next.md
  .claude/agents/review.md
  .claude/agents/update-state.md
Due: none

cid(advance): add structured result types for all 9 gen_*_v0 functions
  .claude/context/handoff.md
  crates/iscc-ffi/src/lib.rs
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/types.rs
  crates/iscc-napi/src/lib.rs
  crates/iscc-py/src/lib.rs
  crates/iscc-wasm/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — structured result types for all 9 gen functions
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): structured result types done, Python dict returns next
  .claude/context/state.md
Due: none

cid(define-next): Python dict returns for all 9 gen functions
  .claude/context/next.md
Due: none

cid(advance): return Python dicts from all 9 gen_*_v0 PyO3 bindings
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  crates/iscc-py/src/lib.rs
  tests/test_conformance.py
  tests/test_smoke.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS — Python dict returns for all 9 gen functions
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

Spec hybrid IsccResult objects with dict + attribute access for Python bindings
  .claude/context/handoff.md
  .claude/context/specs/python-bindings.md
Due: none

cid(update-state): dict returns done, hybrid IsccResult + streaming + Tier 1 API remain
  .claude/context/state.md
Due: none

cid(define-next): implement hybrid IsccResult(dict) objects in Python
  .claude/context/next.md
Due: none

cid(advance): implement hybrid IsccResult(dict) objects in Python
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  tests/test_smoke.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — hybrid IsccResult(dict) objects verified
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

Add available skills section to define-next agent
  .claude/agents/define-next.md
Due: none

cid(update-state): IsccResult hybrid objects done, streaming + Tier 1 API remain
  .claude/context/state.md
Due: none

Add docs-for-agents and zensical-customizer skills
  .claude/skills/docs-for-agents/SKILL.md
  .claude/skills/zensical-customizer/SKILL.md
  .claude/skills/zensical-customizer/references/javascript.md
  .claude/skills/zensical-customizer/references/project-setup.md
  .claude/skills/zensical-customizer/references/templates.md
Due: none

cid(define-next): Python streaming support for gen_data_code_v0/gen_instance_code_v0
  .claude/context/next.md
Due: none

cid(advance): add BinaryIO streaming support for gen_data_code_v0 and gen_instance_code_v0
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  tests/test_smoke.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): NEEDS_WORK — ty rejects hasattr() type narrowing in BinaryIO streaming
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): ty type checker error blocks pre-push, all tests pass, CI green
  .claude/context/state.md
Due: none

cid(define-next): fix ty type checker error in Python streaming functions
  .claude/context/next.md
Due: none

cid(advance): fix ty type checker error in Python streaming functions
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — ty type checker fix verified, all quality gates green
  .claude/context/handoff.md
Due: none

cid(update-state): ty fix verified, all gates green, Tier 1 API expansion next
  .claude/context/state.md
Due: none

cid(define-next): promote text utilities to Tier 1 public API
  .claude/context/next.md
Due: none
