Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(advance): promote text utilities to Tier 1 public API
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/utils.rs
  crates/iscc-lib/tests/test_text_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — text utility promotion clean, 165 tests green
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): text utils promoted, 165 tests green, algorithm primitives next
  .claude/context/state.md
Due: none

cid(define-next): promote simhash and minhash modules to Tier 1
  .claude/context/next.md
Due: none

cid(advance): promote simhash and minhash modules to Tier 1 public API
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/minhash.rs
  crates/iscc-lib/src/simhash.rs
  crates/iscc-lib/tests/test_algorithm_primitives.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS_WITH_NOTES — simhash/minhash promotion, clippy lint fix
  .claude/context/handoff.md
  .claude/context/learnings.md
  crates/iscc-lib/tests/test_algorithm_primitives.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(update-state): 16/22 Tier 1 symbols promoted, alg_cdc_chunks next
  .claude/context/state.md
Due: none

cid(define-next): Promote alg_cdc_chunks to Tier 1 public API
  .claude/context/next.md
Due: none

cid(advance): promote alg_cdc_chunks to Tier 1 public API
  .claude/context/handoff.md
  crates/iscc-lib/src/cdc.rs
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/tests/test_algorithm_primitives.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — alg_cdc_chunks promotion completes algorithm primitives group
  .claude/context/handoff.md
Due: none

cid(update-state): 17/22 Tier 1 symbols promoted, alg_cdc_chunks done, 5 remaining
  .claude/context/state.md
Due: none

cid(define-next): Promote soft_hash_video_v0 to Tier 1 public API
  .claude/context/next.md
Due: none

cid(advance): promote soft_hash_video_v0 to Tier 1 public API
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/tests/test_algorithm_primitives.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — soft_hash_video_v0 promotion clean, 18/22 Tier 1 symbols done
  .claude/context/handoff.md
Due: none

cid(update-state): 18/22 Tier 1 symbols promoted, soft_hash_video_v0 done, 4 remaining
  .claude/context/state.md
Due: none

cid(define-next): Implement encode_base64 Tier 1 function
  .claude/context/next.md
Due: none

cid(advance): add encode_base64 Tier 1 function
  .claude/context/handoff.md
  crates/iscc-lib/src/codec.rs
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — encode_base64 clean, 19/22 Tier 1 symbols done
  .claude/context/handoff.md
Due: none

cid(update-state): 19/22 Tier 1 symbols done, encode_base64 added, 3 remaining
  .claude/context/state.md
Due: none

cid(define-next): Implement iscc_decompose and decode_units codec functions
  .claude/context/next.md
Due: none

cid(advance): implement iscc_decompose and decode_units codec functions
  .claude/context/handoff.md
  crates/iscc-lib/src/codec.rs
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — iscc_decompose and decode_units clean, 20/22 Tier 1 done
  .claude/context/handoff.md
Due: none

cid(update-state): 20/22 Tier 1 done, iscc_decompose added, DataHasher/InstanceHasher next
  .claude/context/state.md
Due: none

cid(define-next): Implement DataHasher and InstanceHasher streaming types
  .claude/context/next.md
Due: none

cid(advance): implement DataHasher and InstanceHasher streaming types
  .claude/context/handoff.md
  crates/iscc-lib/src/lib.rs
  crates/iscc-lib/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — DataHasher and InstanceHasher streaming types clean
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): 22/23 Tier 1 done, DataHasher/InstanceHasher added, conformance_selftest next
  .claude/context/state.md
Due: none

cid(define-next): Implement conformance_selftest diagnostic function
  .claude/context/next.md
Due: none

cid(advance): implement conformance_selftest diagnostic function
  .claude/context/handoff.md
  crates/iscc-lib/src/conformance.rs
  crates/iscc-lib/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(review): PASS — conformance_selftest completes Tier 1 API (23/23 symbols)
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): Tier 1 API complete (23/23), binding wrappers next
  .claude/context/state.md
Due: none

cid(define-next): Add conformance_selftest and text utilities to Python bindings
  .claude/context/next.md
Due: none

cid(advance): expose conformance_selftest and text utilities in Python bindings
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  crates/iscc-py/src/lib.rs
  tests/test_text_utils.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS — text utils and conformance_selftest Python bindings
  .claude/context/handoff.md
Due: none

cid(update-state): 85 Python tests, 14/23 Tier 1 symbols bound in Python
  .claude/context/state.md
Due: none

cid(define-next): Add encode_base64, iscc_decompose, and sliding_window to Python bindings
  .claude/context/next.md
Due: none

cid(advance): add encode_base64, iscc_decompose, sliding_window to Python bindings
  .claude/context/handoff.md
  crates/iscc-py/python/iscc_lib/__init__.py
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  crates/iscc-py/src/lib.rs
  tests/test_text_utils.py
Due: cargo-fmt, ruff-check, ruff-format, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS — encode_base64, iscc_decompose, sliding_window bindings
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): 17/23 Python Tier 1 symbols, 250 Rust + 98 Python tests, CI green
  .claude/context/state.md
Due: none

cid(define-next): Add alg_simhash, alg_minhash_256, and alg_cdc_chunks to Python bindings
  .claude/context/next.md
Due: none
