Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --all --
  language: system
  stages:
  - pre-commit

ruff-check:
  name: Ruff linting
  entry: uv run ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff formatting
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

taplo:
  name: TOML formatting
  entry: uv run taplo fmt
  language: system
  stages:
  - pre-commit

yamlfix:
  name: YAML formatting
  entry: uv run yamlfix
  language: system
  stages:
  - pre-commit

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: Rust tests
  entry: cargo test --workspace
  language: system
  stages:
  - pre-push
  pass_filenames: false

ty:
  name: Python type checking
  entry: uv run ty check
  language: system
  stages:
  - pre-push
  pass_filenames: false

security:
  name: Security scan (Ruff S rules)
  entry: uv run ruff check --select S --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

complexity:
  name: Complexity check (Ruff C901)
  entry: uv run ruff check --select C901 --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Python tests with coverage
  entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
  language: system
  stages:
  - pre-push
  pass_filenames: false

cid(review): PASS_WITH_NOTES — Swift XCFramework release job verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(update-state): Swift release workflow added; 2 normal + 1 low issues remain
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add Package.swift version sync and update Swift install docs
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add Package.swift version sync and update Swift install docs
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  docs/howto/swift.md
  scripts/version_sync.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — Package.swift version sync + Swift docs update verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): CID blocked — only normal issue needs human review
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add missing language tabs to docs landing page
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add missing language tabs to docs landing page
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  docs/index.md
Due: none

cid(review): PASS — docs landing page tabs verified (11/11 languages)
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

fix: derive Swift release version from Cargo.toml instead of GITHUB_REF_NAME
  .claude/context/issues.md
  .claude/context/specs/swift-bindings.md
  .github/workflows/release.yml
Due: yamlfix

add release-pipeline issues from Codex review of PR #34
  .claude/context/issues.md
Due: none

refocus Kotlin bindings on Android DX, add critical Android issue
  .claude/context/issues.md
  .claude/context/specs/kotlin-bindings.md
  .claude/context/target.md
Due: none

cid(update-state): Kotlin Android gap is critical; GITHUB_REF_NAME fixed; 6 open issues
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add Android NDK cross-compilation to Kotlin release workflow
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add Android NDK cross-compilation to Kotlin release workflow
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS_WITH_NOTES — Android NDK cross-compilation, JNA ARM32 path issue found
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): Android NDK added, critical resolved; JNA ARM32 path issue pending human review
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Fix JNA ARM32 resource path mismatch (android-armv7 → android-arm)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): fix JNA ARM32 resource path android-armv7 → android-arm
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .claude/context/specs/kotlin-bindings.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS — JNA ARM32 path fix verified, issue resolved
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): JNA ARM32 fix verified; 5 issues remain (4 normal + 1 low)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Validate assembled JAR in Kotlin release smoke test
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): validate assembled JAR in Kotlin release smoke test
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS_WITH_NOTES — Kotlin JAR validation verified, runtime JAR selection fixed
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  .github/workflows/release.yml
Due: yamlfix

cid(update-state): Kotlin JAR smoke test resolved; 4 issues remain (3 normal + 1 low)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Fix XCFramework release cache key to include all build inputs
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): expand XCFramework cache key to include all build inputs
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS — XCFramework cache key fix verified, issue resolved
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): XCF cache key resolved; 3 issues remain (2 normal + 1 low)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Guard Swift release build against main/tag SHA mismatch
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add provenance guard to build-xcframework release job
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS — provenance guard verified, Swift ref:main issue resolved
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Swift ref:main resolved; 2 issues remain (1 normal + 1 low)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add root Package.swift manifest smoke test to CI
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add root Package.swift manifest smoke test to CI
  .claude/context/handoff.md
  .github/workflows/ci.yml
Due: yamlfix

cid(review): PASS — root Package.swift CI smoke test verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): all target sections met; benchmarks doc was already complete; 1 low issue remains
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): IDLE — all target sections met, no actionable work
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): IDLE — no actionable work remaining
  .claude/context/handoff.md
Due: none

cid(review): PASS — IDLE confirmed, no actionable work remaining
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  taplo: any of: \.toml$
  yamlfix: any of: \.(yaml|yml)$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ty: any of: \.py$
  security: any of: \.py$
  complexity: any of: \.py$
  pytest: any of: \.py$
