Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(advance): force cargo-crap reinstall to fix CI Coverage+CRAP flake
  .claude/agent-memory/advance/MEMORY-archive.md
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/ci.yml
Due: yamlfix

cid(review): PASS cargo-crap --force CI flake fix; capture binstall/rust-cache learning
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 100
  .claude/context/iterations.jsonl
Due: none

cid(update-state): CI GREEN — cargo-crap --force flake fix verified; PyO3 at 0.25; 5 issues open
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): migrate PyO3 0.25 → 0.26
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): migrate PyO3 0.25 → 0.26 (detach + Py<PyAny> deprecation fixes)
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-py/src/lib.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): PASS PyO3 0.25→0.26 — first hop needing source edits (detach + Py<PyAny>)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/learnings.md
  .claude/context/next.md
Due: none

cid(log): iteration 101
  .claude/context/iterations.jsonl
Due: none

cid(update-state): PyO3 at 0.26; CI GREEN (run 27687282645); 5 issues open
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): migrate PyO3 0.26 -> 0.27
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): migrate PyO3 0.26 -> 0.27 (downcast -> cast deprecation fixes)
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-py/src/lib.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): PASS PyO3 0.26→0.27 — second hop needing source edits (downcast→cast rename)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 102
  .claude/context/iterations.jsonl
Due: none

cid(log): iteration 103
  .claude/context/iterations.jsonl
Due: none

cid(update-state): PyO3 at 0.27; CI GREEN (run 27688989956); 5 issues open
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): migrate PyO3 0.27 → 0.28
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): bump pyo3 workspace pin 0.27 -> 0.28
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
Due: taplo

cid(review): PASS_WITH_NOTES PyO3 0.27→0.28 — restore gil_used=true (0.28 flipped #[pymodule] free-threaded default)
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/learnings.md
  crates/iscc-py/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

cid(log): iteration 104
  .claude/context/iterations.jsonl
Due: none

cid(update-state): PyO3 at 0.28 (gil_used restored); CI GREEN (run 27725693364); 5 issues open
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): migrate PyO3 0.28 → 0.29 (final hop, closes #1)
  .claude/agent-memory/define-next/MEMORY-archive.md
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): migrate PyO3 0.28 -> 0.29 (final hop, closes issue #1 advisories)
  .claude/agent-memory/advance/MEMORY-archive.md
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
Due: taplo

cid(review): PASS PyO3 0.23→0.29 migration COMPLETE — close #1, file supply-chain audit gate gap
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 105
  .claude/context/iterations.jsonl
Due: none

cid(update-state): PyO3 migration COMPLETE at 0.29 (#1 closed); Python MET; CI GREEN (run 27728337913); 5 issues (new supply-chain audit gate)
  .claude/agent-memory/update-state/MEMORY-archive.md
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(update-state): condense stable CRAP install-flake detail to archive (memory under budget)
  .claude/agent-memory/update-state/MEMORY-archive.md
  .claude/agent-memory/update-state/MEMORY.md
Due: none

cid(update-state): trim memory to under 200-line budget
  .claude/agent-memory/update-state/MEMORY.md
Due: none

cid(define-next): add iai-callgrind bench harness (compile-only slice)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add iai-callgrind instruction-count bench harness
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-lib/Cargo.toml
  crates/iscc-lib/benches/iai_benches.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(log): iteration 106
  .claude/context/iterations.jsonl
Due: none

cid(update-state): iai-callgrind harness landed (compile-only, #3 partial); CI green on pushed tip 103fe3d; 5 issues
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): add Perf CI job running iai-callgrind benches
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add Perf CI job running iai-callgrind under valgrind
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/ci.yml
  mise.toml
Due: taplo, yamlfix

cid(review): PASS_WITH_NOTES — Perf CI job in-scope; Codex strip P2 refuted (bench profile keeps symbols)
  .claude/agent-memory/review/MEMORY-archive.md
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 107
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Perf (iai-callgrind) CI job GREEN on pushed tip 55ff177; #3 slice 2a done, gate 2b pending; 5 issues
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): fix iai-callgrind Perf job zero-collection (false green)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/iai-callgrind-gate.md
  .claude/context/next.md
Due: none

cid(advance): fix iai-callgrind zero-collection (unstripped bench profile + ASLR) and add CI guard
  .claude/agent-memory/advance/MEMORY-archive.md
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/ci.yml
  Cargo.toml
  mise.toml
Due: taplo, yamlfix

cid(review): PASS — iai-callgrind strip fix verified; root cause confirmed empirically (0→11 wrapper symbols)
  .claude/agent-memory/review/MEMORY-archive.md
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 108
  .claude/context/iterations.jsonl
Due: none
