Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --all --
  language: system
  stages:
  - pre-commit

ruff-check:
  name: Ruff linting
  entry: uv run ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff formatting
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

taplo:
  name: TOML formatting
  entry: uv run taplo fmt
  language: system
  stages:
  - pre-commit

yamlfix:
  name: YAML formatting
  entry: uv run yamlfix
  language: system
  stages:
  - pre-commit

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: Rust tests
  entry: cargo test --workspace
  language: system
  stages:
  - pre-push
  pass_filenames: false

ty:
  name: Python type checking
  entry: uv run ty check
  language: system
  stages:
  - pre-push
  pass_filenames: false

security:
  name: Security scan (Ruff S rules)
  entry: uv run ruff check --select S --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

complexity:
  name: Complexity check (Ruff C901)
  entry: uv run ruff check --select C901 --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Python tests with coverage
  entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
  language: system
  stages:
  - pre-push
  pass_filenames: false

cid(review): PASS — CI workflow clean, all gates verified
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

Add CI status check to update-state agent protocol
  .claude/agents/update-state.md
Due: none

Flag Python module rename (iscc → iscc_lib) in state.md for CID pickup
  .claude/context/state.md
  .claude/context/target.md
Due: none

cid(update-state): CI failing — maturin missing from root dev deps, Python module rename pending
  .claude/context/state.md
Due: none

cid(define-next): fix CI — add maturin dep and rename Python module to iscc_lib
  .claude/context/next.md
Due: none

cid(advance): fix CI by adding maturin dep and renaming Python module to iscc_lib
  .claude/context/handoff.md
  crates/iscc-py/pyproject.toml
  crates/iscc-py/python/iscc_lib/__init__.py
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  crates/iscc-py/python/iscc_lib/py.typed
  pyproject.toml
  tests/test_conformance.py
  tests/test_smoke.py
  uv.lock
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

cid(review): PASS — CI fix verified, all 192 tests pass
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): CI green, Rust core + Python bindings fully verified, remaining bindings not started
  .claude/context/state.md
Due: none

cid(define-next): add Rust criterion benchmarks for all gen functions
  .claude/context/next.md
Due: none

cid(advance): add criterion benchmarks for all 9 gen_*_v0 functions
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-lib/Cargo.toml
  crates/iscc-lib/benches/benchmarks.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): PASS — criterion benchmarks for all 9 gen functions verified
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): benchmarks added, CI green, remaining bindings not started
  .claude/context/state.md
Due: none

cid(define-next): add pytest-benchmark for iscc-core Python reference baseline
  .claude/context/next.md
Due: none

cid(advance): add pytest-benchmark for iscc-core Python reference baseline
  .claude/context/handoff.md
  benchmarks/python/bench_iscc_core.py
  pyproject.toml
  uv.lock
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

cid(review): PASS — pytest-benchmark baseline for all 9 gen_*_v0 functions
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): pytest-benchmark baseline added, CI green, Node.js bindings next
  .claude/context/state.md
Due: none

cid(define-next): scaffold napi-rs crate with all 9 gen functions
  .claude/context/next.md
Due: none

cid(advance): scaffold napi-rs crate with all 9 gen functions
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-napi/Cargo.toml
  crates/iscc-napi/build.rs
  crates/iscc-napi/package.json
  crates/iscc-napi/src/lib.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): napi-rs scaffold verified — all 9 gen functions, clean build, tests pass
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): napi scaffold exists but lacks JS tests and CI job
  .claude/context/state.md
Due: none

cid(define-next): add Node.js conformance tests for napi crate
  .claude/context/next.md
Due: none

cid(advance): add Node.js conformance tests for napi crate
  .claude/context/handoff.md
  crates/iscc-napi/__tests__/conformance.test.mjs
  crates/iscc-napi/package.json
Due: none

cid(review): Node.js conformance tests verified — 46/46 pass, all gates green
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): Node.js tests exist but no CI job yet, WASM/C FFI/docs not started
  .claude/context/state.md
Due: none

cid(define-next): Add Node.js CI job to workflow
  .claude/context/next.md
Due: none

cid(advance): add Node.js CI job for napi build and conformance tests
  .claude/context/handoff.md
  .github/workflows/ci.yml
Due: yamlfix

cid(review): Node.js CI job verified — PASS, all gates green
  .claude/context/handoff.md
Due: none

cid(update-state): all 3 CI jobs green, WASM/C FFI/docs remain
  .claude/context/state.md
Due: none

cid(define-next): Scaffold WASM bindings crate with all 9 gen functions
  .claude/context/next.md
Due: none

cid(advance): scaffold WASM bindings crate with all 9 gen functions
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-wasm/Cargo.toml
  crates/iscc-wasm/src/lib.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): PASS — WASM scaffold verified, all 9 wrappers correct
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): WASM scaffold added, needs tests and CI job
  .claude/context/state.md
Due: none

cid(define-next): Add WASM conformance tests runnable with wasm-pack test --node
  .claude/context/next.md
Due: none

cid(advance): add WASM conformance tests for all 9 gen functions
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-wasm/Cargo.toml
  crates/iscc-wasm/tests/conformance.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): PASS — WASM conformance tests verified, 46 vectors passing
  .claude/context/handoff.md
  .claude/context/learnings.md
Due: none

cid(update-state): WASM tests passing locally, CI job is next milestone
  .claude/context/state.md
Due: none

cid(define-next): Add WASM CI job to workflow
  .claude/context/next.md
Due: none

cid(advance): add WASM CI job to workflow
  .claude/context/handoff.md
  .github/workflows/ci.yml
Due: yamlfix

cid(review): PASS — WASM CI job correctly added, all 4 binding crates under CI
  .claude/context/handoff.md
Due: none

cid(update-state): all 4 CI jobs green, C FFI is next milestone
  .claude/context/state.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  taplo: any of: \.toml$
  yamlfix: any of: \.(yaml|yml)$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ty: any of: \.py$
  security: any of: \.py$
  complexity: any of: \.py$
  pytest: any of: \.py$
