Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --all --
  language: system
  stages:
  - pre-commit

ruff-check:
  name: Ruff linting
  entry: uv run ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff formatting
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

taplo:
  name: TOML formatting
  entry: uv run taplo fmt
  language: system
  stages:
  - pre-commit

yamlfix:
  name: YAML formatting
  entry: uv run yamlfix
  language: system
  stages:
  - pre-commit

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: Rust tests
  entry: cargo test --workspace
  language: system
  stages:
  - pre-push
  pass_filenames: false

ty:
  name: Python type checking
  entry: uv run ty check
  language: system
  stages:
  - pre-push
  pass_filenames: false

security:
  name: Security scan (Ruff S rules)
  entry: uv run ruff check --select S --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

complexity:
  name: Complexity check (Ruff C901)
  entry: uv run ruff check --select C901 --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Python tests with coverage
  entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
  language: system
  stages:
  - pre-push
  pass_filenames: false

cid(update-state): Ruby dep slice 7 done — all 7 ecosystem slices closed; CI green (41 checks); ruff 0.16 is the last autonomous slice
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): ruff 0.16 slice A — clear config-free findings (stub ... + RUF059)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/dep-refresh-ledger.md
  .claude/context/next.md
Due: none

cid(advance): ruff 0.16 slice A — drop stub ... placeholders, prefix unused unpacked vars
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/advance/deps-refresh.md
  .claude/context/handoff.md
  crates/iscc-py/CLAUDE.md
  crates/iscc-py/python/iscc_lib/_lowlevel.pyi
  tests/test_new_symbols.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — ruff 0.16 slice A clean (104→26 findings), stub verified against mypy/pyright
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/dep-refresh-reviews.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 131
  .claude/context/iterations.jsonl
Due: none

human(decide): resolve both HUMAN REVIEW REQUESTED policy calls
  .claude/context/decisions.md
  .claude/context/issues.md
  .claude/context/learnings.md
  .claude/context/specs/kotlin-bindings.md
  .claude/context/specs/rust-core.md
Due: none

human(decide): Unicode data version 16.0.0 + freeze rule for future versions
  .claude/context/decisions.md
  .claude/context/issues.md
  .claude/context/learnings.md
  .claude/context/specs/rust-core.md
Due: none

cid(update-state): human decisions grew the target — Unicode 16.0.0 freeze rule + Kotlin floor docs now unmet; CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/unicode-contract.md
  .claude/context/state.md
Due: none

cid(define-next): document the Kotlin consumer floor (2.3+) in README, package README, and howto guide
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): document the Kotlin 2.3+ consumer floor in README, package README, and howto guide
  .claude/agent-memory/advance/deps-refresh.md
  .claude/context/handoff.md
  README.md
  docs/howto/kotlin.md
  packages/kotlin/README.md
Due: none

cid(review): PASS — Kotlin 2.3+ floor documented in all three consumer docs, issue resolved
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 132
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Kotlin floor met, 6 issues left; Unicode freeze rule is the open headline; CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/unicode-contract.md
  .claude/context/state.md
Due: none

cid(define-next): Unicode 16.0.0 freeze rule — vendored range table, generator, pre-normalization filter
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/define-next-ty-generator-scripts.md
  .claude/agent-memory/define-next/unicode-freeze-facts.md
  .claude/context/next.md
Due: none

cid(advance): Unicode 16.0.0 freeze rule — vendored unassigned-range table, generator, pre-normalization filter in text_clean/text_collapse
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .crap-baseline.json
  crates/iscc-lib/CLAUDE.md
  crates/iscc-lib/src/utils.rs
  crates/iscc-lib/src/utils/unicode16.rs
  pyproject.toml
  scripts/gen_unicode16_unassigned.py
Due: cargo-fmt, ruff-check, ruff-format, taplo, cargo-clippy, cargo-test, ty, security, complexity, pytest

cid(review): PASS_WITH_NOTES — Unicode 16 freeze rule verified; pre-normalization ordering diverges from iscc-core on sequences
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/review-patterns.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 133
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Unicode freeze filter met (1 of 4 criteria); boundary vectors next; one human ruling parked; CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/agent-memory/update-state/unicode-contract.md
  .claude/context/state.md
Due: none

cid(define-next): ruff 0.16 slice B — enforce S + C901 via extend-select, clear all RUF100
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/dep-refresh-ledger.md
  .claude/context/next.md
Due: none

cid(advance): enforce ruff S + C901 project-wide via extend-select, clear all RUF100
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/advance/deps-refresh.md
  .claude/context/handoff.md
  docs/development.md
  pyproject.toml
  tools/cid.py
  tools/metrics.py
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

cid(review): PASS — ruff S/C901 project-wide verified, noqa deletions probed dead, stale held-comment fixed
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/dep-refresh-reviews.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
  pyproject.toml
Due: taplo

cid(log): iteration 134
  .claude/context/iterations.jsonl
Due: none

cid(update-state): ruff slice B landed (S+C901 project-wide, 26→12 findings); Unicode boundary vectors still open; CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): ruff 0.16 slice C — isort first-party config, sorted __all__, enforce I/RUF022/RUF100
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/dep-refresh-ledger.md
  .claude/context/next.md
Due: none

cid(advance): ruff 0.16 slice C — isort first-party config, sorted __all__, enforce I/RUF022/RUF100
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/advance/deps-refresh.md
  .claude/agent-memory/advance/feedback-issues-ledger.md
  .claude/context/handoff.md
  benchmarks/python/bench_iscc_lib.py
  crates/iscc-py/python/iscc_lib/__init__.py
  docs/development.md
  pyproject.toml
  tests/test_algo.py
  tests/test_benchmarks.py
  tests/test_smoke.py
  tests/test_text_utils.py
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

cid(review): PASS — ruff slice C verified (12→3 findings), hook-mode isort probe, __all__ set-diff
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/dep-refresh-reviews.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 135
  .claude/context/iterations.jsonl
Due: none

cid(update-state): ruff slice C landed (12→3 findings under 0.16); Unicode boundary vectors still parked on human ruling; CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): ruff 0.16 sub-slice D — clear RUF007, PLW1510, EXE001 one-liners
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/dep-refresh-ledger.md
  .claude/context/next.md
Due: none

cid(define-next): record prek mdformat --number gotcha
  .claude/agent-memory/define-next/MEMORY.md
Due: none

cid(advance): clear last three ruff-0.16 findings (RUF007, PLW1510, EXE001)
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/advance/deps-refresh.md
  .claude/context/handoff.md
  scripts/gen_unicode16_unassigned.py
  scripts/test_install.py
  tools/cid.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — ruff 0.16 sub-slice D verified (3 findings → 0, tree clean under 0.16)
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/dep-refresh-reviews.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings.md
Due: none

cid(log): iteration 136
  .claude/context/iterations.jsonl
Due: none

cid(update-state): ruff 0.16 tree clean (3→0 findings); only the ruff<0.16 pin left; CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): ruff 0.16 sub-slice E — drop the ruff<0.16 pin
  .claude/agent-memory/define-next/MEMORY.md
  .claude/agent-memory/define-next/dep-refresh-ledger.md
  .claude/context/next.md
Due: none

cid(advance): drop ruff<0.16 pin — adopt ruff 0.16.0 as project linter/formatter
  .claude/agent-memory/advance/MEMORY.md
  .claude/agent-memory/advance/deps-refresh.md
  .claude/context/handoff.md
  pyproject.toml
  uv.lock
Due: taplo

cid(review): PASS_WITH_NOTES — ruff 0.16 adopted (slice 8 closed); local/CI Markdown gate parity gap filed
  .claude/agent-memory/review/MEMORY.md
  .claude/agent-memory/review/dep-refresh-reviews.md
  .claude/context/decisions.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
  pyproject.toml
Due: taplo

cid(log): iteration 137
  .claude/context/iterations.jsonl
Due: none

cid(update-state): ruff 0.16 adopted (dep slice 8 closed); new local/CI Markdown gate-parity gap; CI green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): close the ruff/Markdown gate-parity gap in the prek hooks
  .claude/agent-memory/define-next/MEMORY-archive.md
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  taplo: any of: \.toml$
  yamlfix: any of: \.(yaml|yml)$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ty: any of: \.py$
  security: any of: \.py$
  complexity: any of: \.py$
  pytest: any of: \.py$
