Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(update-state): landing page Go fix verified, CI 8/8 green, tab order remains low-priority
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add version consistency check to CI
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add version consistency check to CI workflow
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/ci.yml
Due: yamlfix

cid(review): PASS — version consistency check CI job verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): 9/9 CI green, benchmarks correctly met, stale spec cleanup next
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Update ci-cd.md spec to match actual CI state
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Update ci-cd.md spec to match actual CI state
  .claude/context/handoff.md
  .claude/context/specs/ci-cd.md
Due: none

cid(review): PASS — ci-cd.md spec update verified, scripts/ path fixed
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/specs/ci-cd.md
Due: none

cid(update-state): all automatable work complete; stale ci-cd.md spec resolved, CI 9/9 green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Fix stale wazero/WASM references in docs
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): remove stale wazero/WASM references from docs
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  docs/architecture.md
  docs/development.md
Due: none

cid(review): PASS — stale wazero/WASM docs references removed
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): incremental review — docs stale wazero refs cleaned, CI 9/9 green (run 22514805866)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Fix Go representation in architecture diagram
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Show Go as standalone in architecture diagram, remove WASM comments
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  docs/architecture.md
  packages/go/cdc_test.go
  packages/go/codec_test.go
  packages/go/minhash_test.go
  packages/go/simhash_test.go
  packages/go/utils_test.go
Due: none

cid(review): PASS — Go architecture diagram fix verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): incremental review — Go WASM comments cleaned, arch diagram fixed, CI 9/9 green (run 22515294571)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add C FFI API reference page
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Add C FFI API reference page
  .claude/context/handoff.md
  docs/c-ffi-api.md
  docs/llms.txt
  zensical.toml
Due: taplo

cid(review): PASS — C FFI API reference page verified
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): incremental review — C FFI API doc added, Java API ref page still missing, CI 9/9 green (run 22515862498)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add Java API reference page
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Add Java API reference page
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  docs/java-api.md
  docs/llms.txt
  zensical.toml
Due: taplo

cid(review): PASS — Java API reference page verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  docs/java-api.md
Due: none

Add Maven Central publishing, robust version sync, and release skill
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  .claude/context/specs/ci-cd.md
  .claude/context/target.md
  .claude/skills/release/SKILL.md
  .github/workflows/release.yml
  CLAUDE.md
  README.md
  crates/iscc-jni/README.md
  crates/iscc-jni/java/pom.xml
  crates/iscc-py/uv.lock
  docs/development.md
  docs/howto/java.md
  mise.toml
  pyproject.toml
  scripts/test_install.py
  scripts/version_sync.py
  uv.lock
Due: ruff-check, ruff-format, taplo, yamlfix, ty, security, complexity, pytest

Fix 12 issues in release skill from combined review
  .claude/skills/release/SKILL.md
Due: none

Fix 11 additional issues in release skill from combined review
  .claude/skills/release/SKILL.md
Due: none

Update state.md: reflect v0.0.2 published, PR #10 merged, all setup complete
  .claude/context/state.md
Due: none

Standardize tab order to Python, Rust, Node.js, Java, Go, WASM
  .claude/context/issues.md
  .claude/context/specs/documentation.md
  .claude/context/state.md
  docs/index.md
Due: none

Release 0.0.3
  Cargo.lock
  Cargo.toml
  README.md
  crates/iscc-jni/README.md
  crates/iscc-jni/java/pom.xml
  crates/iscc-napi/package.json
  docs/howto/java.md
  docs/java-api.md
  mise.toml
  pyproject.toml
  scripts/test_install.py
  uv.lock
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

Fix GPG key import in Maven Central publish step
  .github/workflows/release.yml
Due: yamlfix

Add Go module tag (packages/go/v*) to release skill
  .claude/skills/release/SKILL.md
Due: none

Optimize CDC gear hash with unchecked indexing and 4x loop unrolling
  crates/iscc-lib/benches/benchmarks.rs
  crates/iscc-lib/src/cdc.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Update iscc-core-ts docs: v1.0.0 stable release under iscc org
  docs/ecosystem.md
Due: none

Add Python 3.14 support and CI version matrix
  .github/workflows/ci.yml
  crates/iscc-py/pyproject.toml
Due: taplo, yamlfix

Fix CI Python matrix: drop --python flag from uv sync
  .github/workflows/ci.yml
Due: yamlfix

Add Python CI gate job for stable branch protection check name
  .github/workflows/ci.yml
Due: yamlfix

Track GitHub issues #15, #16, #18 in CID context and update specs
  .claude/context/issues.md
  .claude/context/specs/python-bindings.md
  .claude/context/specs/rust-core.md
  .claude/context/target.md
Due: none

cid(update-state): target upgraded to 32 symbols; gen_sum_code_v0 + META_TRIM_META unimplemented
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add META_TRIM_META constant and payload validation to Rust core
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none
