Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

.pre-commit-config.yaml:

---
# Run with prek (drop-in pre-commit replacement): uv run prek run --all-files
repos:
  # File hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: fix-byte-order-marker

  # Markdown formatting
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: [--wrap, "100", --number]
        additional_dependencies:
          - "mdformat-mkdocs[recommended]"

  # Local hooks
  - repo: local
    hooks:
      # Pre-commit hooks (fast, auto-fix)
      - id: cargo-fmt
        name: Rust formatting
        entry: cargo fmt --all --
        language: system
        types: [rust]
        stages: [pre-commit]
      - id: ruff-check
        name: Ruff linting
        entry: uv run ruff check --fix
        language: system
        types: [python]
        stages: [pre-commit]
      - id: ruff-format
        name: Ruff formatting
        entry: uv run ruff format
        language: system
        types: [python]
        stages: [pre-commit]
      - id: taplo
        name: TOML formatting
        entry: uv run taplo fmt
        language: system
        types: [toml]
        stages: [pre-commit]
      - id: yamlfix
        name: YAML formatting
        entry: uv run yamlfix
        language: system
        types: [yaml]
        stages: [pre-commit]

      # Pre-push hooks (thorough quality gates)
      - id: cargo-clippy
        name: Rust linting
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: cargo-test
        name: Rust tests
        entry: cargo test --workspace
        language: system
        types: [rust]
        stages: [pre-push]
        pass_filenames: false
      - id: ty
        name: Python type checking
        entry: uv run ty check
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: security
        name: Security scan (Ruff S rules)
        entry: uv run ruff check --select S --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: complexity
        name: Complexity check (Ruff C901)
        entry: uv run ruff check --select C901 --force-exclude
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false
      - id: pytest
        name: Python tests with coverage
        entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
        language: system
        types: [python]
        stages: [pre-push]
        pass_filenames: false

cid(define-next): C# streaming hasher Finalize() return types
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): streaming hasher Finalize() returns typed result records
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  packages/dotnet/Iscc.Lib.Tests/SmokeTests.cs
  packages/dotnet/Iscc.Lib/IsccDataHasher.cs
  packages/dotnet/Iscc.Lib/IsccInstanceHasher.cs
Due: none

cid(review): PASS — streaming hasher Finalize() typed return records
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): C# API surface complete; streaming Finalize() typed returns done, docs + NuGet pending
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): C# / .NET documentation (howto, README, nav)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add C# / .NET documentation — howto guide, package README, root README sections
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  README.md
  docs/howto/dotnet.md
  packages/dotnet/README.md
  zensical.toml
Due: taplo

cid(review): PASS — C# / .NET documentation complete
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  docs/howto/dotnet.md
Due: none

cid(update-state): C# docs complete; NuGet publish pipeline next
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add .NET project version to version sync pipeline
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add .NET csproj version to version sync pipeline
  .claude/context/handoff.md
  packages/dotnet/Iscc.Lib/Iscc.Lib.csproj
  scripts/version_sync.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — .NET version sync integration verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): .NET version sync complete; NuGet publish pipeline is next
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): NuGet publish pipeline in release.yml
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add NuGet publish pipeline to release.yml
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/release.yml
  packages/dotnet/Iscc.Lib/Iscc.Lib.csproj
Due: yamlfix

cid(review): PASS_WITH_NOTES — NuGet pipeline verified, two bugs fixed
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
  .github/workflows/release.yml
  packages/dotnet/Iscc.Lib/Iscc.Lib.csproj
Due: yamlfix

cid(update-state): C# bindings complete — NuGet pipeline verified; next: C++ wrapper
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Create C++ header-only wrapper (iscc.hpp) with all 32 Tier 1 symbols
  .claude/agent-memory/define-next/MEMORY-archive.md
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): create C++17 header-only wrapper (iscc.hpp) with all 32 Tier 1 symbols
  .claude/agent-memory/advance/MEMORY-archive.md
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  packages/cpp/CMakeLists.txt
  packages/cpp/include/iscc/iscc.hpp
  packages/cpp/tests/CMakeLists.txt
  packages/cpp/tests/test_iscc.cpp
Due: none

cid(review): PASS_WITH_NOTES — C++ wrapper verified, unused include fixed
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
  packages/cpp/include/iscc/iscc.hpp
Due: none

cid(update-state): C++ wrapper partially done — CI job, release bundling, manifests, docs pending
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add C++ CI job to ci.yml
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add C++ CI job to ci.yml
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/ci.yml
Due: yamlfix

cid(review): PASS — C++ CI job verified, all criteria met
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): C++ CI job now passing (14/14 green); remaining gaps: release bundling, manifests, docs
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Bundle iscc.hpp in FFI release tarballs
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): bundle iscc.hpp in FFI release tarballs
  .claude/context/handoff.md
  .github/workflows/release.yml
Due: yamlfix

cid(review): PASS — iscc.hpp bundled in FFI release tarballs
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): iscc.hpp bundled in FFI tarballs; C++ docs/manifests/tests still pending
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add C++ documentation (README, howto, root README)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Add C++ documentation (README, howto, root README)
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  README.md
  docs/howto/c-cpp.md
  packages/cpp/README.md
Due: none

cid(review): PASS — C++ documentation complete and verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): C++ docs complete; manifests + gen_mixed test remain
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): C++ gen_mixed_code_v0 test + nested vector null-safety
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): C++ gen_mixed_code_v0 test + nested vector null-safety
  .claude/context/handoff.md
  packages/cpp/include/iscc/iscc.hpp
  packages/cpp/tests/test_iscc.cpp
Due: none

cid(review): PASS — C++ gen_mixed_code_v0 test + nested vector null-safety verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): C++ gen_mixed_code_v0 test + nested vector null-safety resolved; vcpkg/conan remain
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add C++ package manager manifests (vcpkg + Conan)
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add C++ package manager manifests (vcpkg + Conan)
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  packages/cpp/conanfile.py
  packages/cpp/portfile.cmake
  packages/cpp/vcpkg.json
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS_WITH_NOTES — C++ package manager manifests verified, IDLE signaled
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(review): PASS_WITH_NOTES — C++ manifests verified; fix ty check for conanfile.py
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/learnings.md
  pyproject.toml
Due: taplo
