Repository iscc/iscc-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ruff-check, ruff-format, taplo, yamlfix, cargo-clippy, cargo-test, ty, security, complexity, pytest

cargo-fmt:
  name: Rust formatting
  entry: cargo fmt --all --
  language: system
  stages:
  - pre-commit

ruff-check:
  name: Ruff linting
  entry: uv run ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: Ruff formatting
  entry: uv run ruff format
  language: system
  stages:
  - pre-commit

taplo:
  name: TOML formatting
  entry: uv run taplo fmt
  language: system
  stages:
  - pre-commit

yamlfix:
  name: YAML formatting
  entry: uv run yamlfix
  language: system
  stages:
  - pre-commit

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  stages:
  - pre-push
  pass_filenames: false

cargo-test:
  name: Rust tests
  entry: cargo test --workspace
  language: system
  stages:
  - pre-push
  pass_filenames: false

ty:
  name: Python type checking
  entry: uv run ty check
  language: system
  stages:
  - pre-push
  pass_filenames: false

security:
  name: Security scan (Ruff S rules)
  entry: uv run ruff check --select S --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

complexity:
  name: Complexity check (Ruff C901)
  entry: uv run ruff check --select C901 --force-exclude
  language: system
  stages:
  - pre-push
  pass_filenames: false

pytest:
  name: Python tests with coverage
  entry: uv run pytest --cov --cov-fail-under=100 --timeout=120
  language: system
  stages:
  - pre-push
  pass_filenames: false

Fix NuGet smoke test: remove invalid --source flag
  .github/workflows/release.yml
Due: yamlfix

Fix npm publish: include index.js and index.d.ts in napi build artifacts
  .github/workflows/release.yml
Due: yamlfix

Release 0.3.1
  Cargo.lock
  Cargo.toml
  README.md
  crates/iscc-jni/README.md
  crates/iscc-jni/java/pom.xml
  crates/iscc-napi/package.json
  crates/iscc-rb/Gemfile.lock
  crates/iscc-rb/lib/iscc_lib/version.rb
  docs/howto/java.md
  docs/java-api.md
  mise.toml
  packages/cpp/conanfile.py
  packages/cpp/vcpkg.json
  packages/dotnet/Iscc.Lib/Iscc.Lib.csproj
  pyproject.toml
  scripts/test_install.py
  uv.lock
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

Sync docs Available Bindings table with README
  .claude/context/specs/documentation.md
  docs/index.md
Due: none

Update and create CLAUDE.md for all crates and packages
  crates/iscc-ffi/CLAUDE.md
  crates/iscc-jni/CLAUDE.md
  crates/iscc-lib/CLAUDE.md
  crates/iscc-napi/CLAUDE.md
  crates/iscc-py/CLAUDE.md
  crates/iscc-rb/CLAUDE.md
  crates/iscc-wasm/CLAUDE.md
  packages/cpp/CLAUDE.md
  packages/dotnet/CLAUDE.md
  packages/go/CLAUDE.md
Due: none

cid(update-state): v0.3.1 released; Swift/Kotlin now normal-priority; 14 CI jobs green
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

Add effort levels to CID agents, bump Swift/Kotlin priority
  .claude/agents/advance.md
  .claude/agents/define-next.md
  .claude/agents/review.md
  .claude/agents/update-state.md
  .claude/context/issues.md
Due: none

cid(update-state): incremental review; Swift/Kotlin now normal-priority, no source changes
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Create UniFFI scaffolding crate with all 32 Tier 1 symbols
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): create UniFFI scaffolding crate with all 32 Tier 1 symbols
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  Cargo.lock
  Cargo.toml
  crates/iscc-uniffi/Cargo.toml
  crates/iscc-uniffi/src/lib.rs
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): PASS — UniFFI scaffolding crate with 32 Tier 1 symbols verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

Fix bundle not on PATH in devcontainer
  .devcontainer/Dockerfile
Due: none

cid(update-state): UniFFI scaffolding complete, Swift package next
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Generate Swift bindings and create SPM package structure
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): Generate Swift bindings and create SPM package structure
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  Cargo.lock
  crates/iscc-uniffi/Cargo.toml
  crates/iscc-uniffi/uniffi-bindgen.rs
  packages/swift/Package.swift
  packages/swift/README.md
  packages/swift/Sources/IsccLib/iscc_uniffi.swift
  packages/swift/Sources/IsccLibFFI/iscc_uniffiFFI.h
  packages/swift/Sources/IsccLibFFI/module.modulemap
  packages/swift/Tests/IsccLibTests/ConformanceTests.swift
  packages/swift/Tests/IsccLibTests/data.json
Due: cargo-fmt, taplo, cargo-clippy, cargo-test

cid(review): PASS — Swift SPM package with UniFFI bindings and conformance tests verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings-archive.md
  .claude/context/learnings.md
Due: none

cid(update-state): Swift SPM package created; CI, docs, README integration still needed
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add Swift CI job on macOS runner
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add Swift CI job on macOS runner
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  .github/workflows/ci.yml
Due: yamlfix

cid(review): PASS — Swift CI job on macOS runner verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Swift CI job failing — module name mismatch (iscc_uniffiFFI vs IsccLibFFI)
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Fix Swift CI module name mismatch
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): fix Swift SPM module name mismatch
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  packages/swift/Package.swift
  packages/swift/Sources/iscc_uniffiFFI/iscc_uniffiFFI.h
  packages/swift/Sources/iscc_uniffiFFI/module.modulemap
Due: none

cid(review): PASS — Swift SPM module name fix verified
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Swift CI green (15/15 jobs), docs/README/version-sync remaining
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Swift documentation and README integration
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add Swift documentation and README integration
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  README.md
  docs/howto/swift.md
  packages/swift/CLAUDE.md
  scripts/gen_llms_full.py
  zensical.toml
Due: ruff-check, ruff-format, taplo, ty, security, complexity, pytest

cid(review): PASS — Swift documentation and README integration verified
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Swift docs/README done, only version sync remains
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add Swift version sync to version_sync.py
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add Swift version sync to version_sync.py
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  packages/swift/Sources/IsccLib/Constants.swift
  scripts/version_sync.py
Due: ruff-check, ruff-format, ty, security, complexity, pytest

cid(review): PASS — Swift version sync verified, Swift issue resolved
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/issues.md
  .claude/context/iterations.jsonl
Due: none

cid(update-state): Swift fully complete, Kotlin bindings next milestone
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Create Kotlin JVM project scaffold with UniFFI-generated bindings
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): create Kotlin JVM project scaffold with UniFFI-generated bindings
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  packages/kotlin/.gitignore
  packages/kotlin/build.gradle.kts
  packages/kotlin/gradle.properties
  packages/kotlin/gradle/wrapper/gradle-wrapper.jar
  packages/kotlin/gradle/wrapper/gradle-wrapper.properties
  packages/kotlin/gradlew
  packages/kotlin/gradlew.bat
  packages/kotlin/settings.gradle.kts
  packages/kotlin/src/main/kotlin/uniffi/iscc_uniffi/iscc_uniffi.kt
Due: none

cid(review): PASS — Kotlin JVM scaffold verified, all quality gates pass
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

cid(update-state): Kotlin scaffold partially met, conformance tests next
  .claude/agent-memory/update-state/MEMORY.md
  .claude/context/state.md
Due: none

cid(define-next): Add Kotlin conformance tests for all 9 gen_*_v0 functions
  .claude/agent-memory/define-next/MEMORY.md
  .claude/context/next.md
Due: none

cid(advance): add Kotlin conformance tests for all 9 gen_*_v0 functions
  .claude/agent-memory/advance/MEMORY.md
  .claude/context/handoff.md
  packages/kotlin/build.gradle.kts
  packages/kotlin/src/test/kotlin/uniffi/iscc_uniffi/ConformanceTest.kt
  packages/kotlin/src/test/resources/data.json
Due: none

cid(review): PASS — Kotlin conformance tests verified, 9/9 methods, 50 vectors
  .claude/agent-memory/review/MEMORY.md
  .claude/context/handoff.md
  .claude/context/iterations.jsonl
  .claude/context/learnings.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  taplo: any of: \.toml$
  yamlfix: any of: \.(yaml|yml)$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  ty: any of: \.py$
  security: any of: \.py$
  complexity: any of: \.py$
  pytest: any of: \.py$
